<header class="wifi-header">
    <a class="wifi-header__home-button {{#if active_wifi_home}}active{{/if}}" href="/wifi/"></a>
    <span class="vertical-spacer"></span>
    <a class="wifi-header__button {{#if active_wifi_details}}active{{/if}}" href="/wifi/details/">Szczegóły wydarzenia</a>
    <span class="vertical-spacer"></span>
    <a class="wifi-header__button {{#if active_wifi_harmonogram}}active{{/if}}" href="/wifi/harmonogram/">Harmonogram</a>
    <span class="vertical-spacer"></span>
    <a class="wifi-header__button {{#if active_wifi_contact}}active{{/if}}" href="/wifi/contact/">Kontakt</a>
</header>