<header class="wifi-header">
    <a class="wifi-header__home-button" href="/wifi"></a>
    <span class="vertical-spacer"></span>
    <a class="wifi-header__button" href="/wifi/details">Szczegóły wydarzenia</a>
    <span class="vertical-spacer"></span>
    <a class="wifi-header__button" href="/wifi/harmonogram">Harmonogram</a>
    <span class="vertical-spacer"></span>
    <a class="wifi-header__button" href="/wifi/contact">Kontakt</a>
</header>