{{#> main }}
{{> menu active_projects=true}}
<div class="title_box">
    <h1 class="title_box_text">
        PROJEKTY
    </h1>
</div>
<div class="pageblock_timeline">
    <div id="timeline_line"></div>
    <div id="timeline_container">
        <div class="timeline_card">
            <div class="date">
                9 styczeń 2020
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/webpage.jpg?size=660">
                </div>
                <div class="title">
                    Strona główna SU
                </div>
                <div class="text">
                    Po raz pierwszy od 5 lat strona została wykonana od podstaw z myślą o tym czego tak naprawdę
                    potrzebuje społeczność szkolna. Uruchomienie strony było również początkiem standaryzacji nowego
                    designu Wiśniowa SU. W gruncie rzeczy jest to efekt kompletnej przebudowy samorządu. Stronę jak i
                    odbudowę SU pod względem IT zawdzięczamy ówczesnemu przewodniczącemu sekcji technicznej, Piotrowi
                    Stadnickiemu.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                grudzień 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/szlachetna_paczka.jpg?size=660">
                </div>
                <div class="title">
                    Szlachetna Paczka
                </div>
                <div class="text">
                    W tym roku po raz kolejny nasi uczniowie zbierali produkty na szlachetną paczkę aby wesprzeć jedną z
                    potrzebujących rodzin. Udało nam się zebrać prawie wszystkie produkty z listy.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                grudzień 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/statut.jpg?size=660">
                </div>
                <div class="title">
                    Statut szkoły
                </div>
                <div class="text">
                    W tym okresie razem z dyrekcją pracowaliśmy nad uchwaleniem nowego, skróconego i uproszczonego
                    statutu szkoły. Dodatkowo udało nam się zapisać tam dodatkowe prawa dla uczniów, jak na przykład
                    możliwość korzystania z urządzeń elektronicznych na lekcji w celach dydaktycznych.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                13 grudnia 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/stanwojenny_2019.jpg?size=660">
                </div>
                <div class="title">
                    Stan wojenny
                </div>
                <div class="text">
                    W naszej szkole, ku pamięci i edukacji, organizujemy obchody Rocznicy Wprowadzenia Stanu Wojennego. W tym dniu można
                    spotkać na wejściu legitymujących milicjantów, roznoszących ulotki konspiratorów, a także być świadkami zatrzymań i
                    "pobić". Wszystko to dzieje się po to, żeby wzbudzić w nas świadomość, że dzisiejszą Polskę zawdzięczamy nie tylko
                    działaniami podczas wojen, ale także tym, którzy walczyli z komunistyczną władzą.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                9 grudnia 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/feedback2.jpg?size=660" style="object-position: 50% 30%;">
                </div>
                <div class="title">
                    System feedbacku
                </div>
                <div class="text">
                    Do usług które oferujemy dla uczniów szkoły dołączył system feedbacku, na którym mogą dzielić się
                    swoimi opiniami na temat szkoły, czy zgłaszać problemy oraz głosować na to które kwestie powinny
                    zostać poruszone w pierwszej kolejności.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                6 grudnia 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/aulagier.jpg?size=660">
                </div>
                <div class="title">
                    Aula gier
                </div>
                <div class="text">
                    W szkole istnieje niejedno miejsce, w którym można się zrelaksować i rozwijać swoje zainteresowania. Jest nim np. aula
                    gier, w której można zarówno wypożyczyć, jak i zagrać ze znajomymi i przyjaciółmi w gry planszowe. Miejsce powstało z
                    inicjatywy uczniów i nauczycieli, którzy wspólnie postarali się o dofinansowanie na remont auli!
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                2 grudznia 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/andrzejki2019.jpg?size=660">
                </div>
                <div class="title">
                    Andrzejki
                </div>
                <div class="text">
                    Podczas listopadowego święta w naszej szkole na każdym korytarzu wyczuwalna jest iskra magii. Uczniowie własnoręcznie
                    starają się, aby Andrzejki były okazją do oderwania się od szkolnej rzeczywistości i symbolicznym poznaniem swojej
                    przyszłości. Tego dnia na korytarzach Wiśniowej można zauważyć wiele stanowisk, każde reprezentujące inną technikę
                    wróżbiarstwa i na własnej skórze przekonać się, że w ten jeden dzień w roku można dać się ponieść wyobraźni i pozwolić
                    losowi przejąć kontrolę nad naszym życiem
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                1 grudnia 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/no-image.png">
                </div>
                <div class="title">
                    Galeria Uzdolnionych
                </div>
                <div class="text">
                    Podobnie jak aula, została odrestaurowana przez uczniów i stanowi teraz miejsce, w którym można
                    wyróżnić uczniów o wybitnych osiągnięciach w wielu dziedzinach. Zapoczątkowała też motyw cegieł,
                    który stał się nieodłącznym elementem krajobrazu szkoły i nadaje jej unikatowego klimatu.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                październik 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/lol.jpg?size=660" style="object-position: 50% 75%;">
                </div>
                <div class="title">
                    Turniej League of Legends 2019
                </div>
                <div class="text">
                    Nowopowstała w tym roku sekcja sportowo - esportowa wzięła się prężnie do pracy i już w pierwszym
                    semestrze oprócz zajęć z koszykówki zorganizowała turniej w jedną z najpopularniejszych gier online.
                    Turniej cieszył się sporym zainteresowaniem, mamy nadzieję że następny będzie międzyszkolny.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                październik 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/merch.jpg?size=660" style="object-position: top;">
                </div>
                <div class="title">
                    Merchandise
                </div>
                <div class="text">
                    Wiśniową Tradycją stała się akcja sprzedaży szkolnego merchu – bluz, koszulek, skarpetek oraz czapek.. Zespół uczniów
                    czuwa nad tym, aby cała kolekcja była dobra jakościowo, przystępna cenowo i prezentowała się pierwszorzędnie
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                październik 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/cardboard.jpg?size=660">
                </div>
                <div class="title">
                    Makulatura
                </div>
                <div class="text">
                    Co roku przynajmniej raz na semestr staramy się organizować kontener i zbiórkę makulatury wśród
                    uczniów i nauczycieli. W ten sposób stare sprawdziany, kartkówki, czy materiały archiwalne służą za
                    materiał na nowe, a przy okazji fundują niektóre z akcji, które organizujemy dla uczniów.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                październik 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/artistic.jpg?size=660">
                </div>
                <div class="title">
                    Kółko plastyczne
                </div>
                <div class="text">
                    Sekcja artystyczna nie próżnuje i nie zważa na techniczny charakter szkoły. Kilkoro uczniów
                    uformowało koło plastyczne, które od czas do czasu spotyka się aby porozmawiać o swojej twórczości i
                    wymieniać się doświadczeniami czy wskazówkami.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                20 września 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/msk.jpg?size=660">
                </div>
                <div class="title">
                    Młodzieżowy Strajk Klimatyczny
                </div>
                <div class="text">
                    W naszej szkole mieliśmy ambasadora Młodzieżowego Strajku Klimatycznego, rozwieszaliśmy plakaty dotyczące całej akcji
                    oraz informowaliśmy o wydarzeniu na grupie szkolnej, dzięki czemu następnie liczną grupą wzięliśmy udział w strajku,
                    żeby pokazać solidarność z grupami walczącymi o zmiany w zakresie ekologii w Polsce i na świecie.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                wrzesień 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/lezaki_cropped.png">
                </div>
                <div class="title">
                    Leżaki
                </div>
                <div class="text">
                    W ciepłe dni przed budynkiem na terenie szkoły zarówno podczas lekcji jak i przerw da się zauważyć uczniów i nauczycieli
                    spędzających czas na wiśniowych leżakach. Jest to inwestycja z pieniędzy zebranych na loterii podczas festiwalu WiFi
                    oraz zbiórek tematycznych i zarazem świetna okazja do spędzenia szkolnego dnia na świeżym powietrzu.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                wrzesień 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/no-image.png">
                </div>
                <div class="title">
                    Integracja klas pierwszych
                </div>
                <div class="text">
                    Integracja trwała od wtorku do końca tygodnia (3-6 września), aby uczniowie stopniowo zapoznawali się z nowym
                    środowiskiem. Polegała na grze drużynowej między klasami pierwszymi i zaprzęgła do pracy wielu uczniów z Samorządu. Gra
                    zaczynała się od prezentacji na temat szkoły i ustawionego komunikatu dyrektora o ewakuacji, aby rozdzielić uczniów
                    poszczególnych klas. Kiedy klasy były już rozdzielone, drużyny organizacyjne przydzielały im zadania i uczestnicy zabawy
                    musieli komunikować się między sobą za pomocą krótkofalówek, aby podołać stawianym przed nimi wyzwaniom. W razie
                    potrzeby na jednym z kanałów była osoba służąca pomocą, która naprowadzała uczestników na właściwy trop. W związku z
                    tym, że wszyscy mieli ten sam cel - wyjść z pomieszczenia przed końcem czasu - był to fantastyczny rodzaj integracji i
                    okazja, żeby zawrzeć nowe znajomości,, a także nauczyć się ze sobą współpracować.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                1 września 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/technical.jpg?size=660">
                </div>
                <div class="title">
                    Sekcja techniczna
                </div>
                <div class="text">
                    Powstała w tym roku sekcja techniczna zrzesza chętnych do uczenia się i nauczania tajników
                    programowania, zarządzania sieciami, budowy robotów czy elektroniki. Jest to przestrzeń do rozwoju,
                    ale też ogromne wsparcie dla naszych działań pod kątem technicznym i informatycznym.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                sierpień 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/no-image.png">
                </div>
                <div class="title">
                    Pokój 23
                </div>
                <div class="text">
                    W czasie wolnym, członkowie samorządu przesiadują w pokoju 23, jest to pomieszczenie prowadzone
                    przez uczniów; dla uczniów. Każdy jest tam mile widziany, może porozmawiać, zaangażować się w
                    działania SU, odpocząć, lub po prostu miło spędzić czas.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                6 marca 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/expo2019.jpeg?size-660">
                </div>
                <div class="title">
                    Targi szkół EXPO
                </div>
                <div class="text">
                    W centrum nauki kopernik odbywają się co roku targi szkół średnich i uczelni, na które regularnie
                    wysyłamy członków samorządu uczniowskiego, którzy uczciwie opowiadają o szkole i dbają o to żeby
                    chętnych nie było jak najwięcej, tylko żeby młodzi ludzie tam przychodzący świadomie wybrali swoje
                    szkoły.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                21 lutego 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/wifi.jpg?size=660">
                </div>
                <div class="title">
                    WiFi
                </div>
                <div class="text">
                    Najbardziej widowiskowym wydarzeniem dla uczniów był Wiśniowy Festiwal Inicjatyw. Początkowo była to akcja mająca na
                    celu świętowanie zajęcia 1 miejsca w rankingu Perspektyw, jednak bardzo szybko rozrosła się do wydarzenia
                    ogólnoszkolnego, w które zaangażowało się bardzo dużo uczniów. W dniu wydarzenia, oprócz samych uczniów, bawili się
                    również nauczyciele i pracownicy szkoły. Wydarzenie trwało parę godzin, a atrakcji było tak dużo, że nie sposób się było
                    w tym czasie nudzić. Naszą motywacją była chęć integracji społeczności szkolnej poprzez dobrą zabawę. Był to strzał w
                    dziesiątkę i cieszymy się, że WiFi ma stać się wydarzeniem cyklicznym. Krótkie podsumowanie tego projektu można zobaczyć
                    na YouTube pod tym <a href="https://www.youtube.com/watch?v=TIVrDtQWEqU">linkiem</a>
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                21 lutego 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/zlotfanowminecraft2019.png?size=660">
                </div>
                <div class="title">
                    Zlot Fanów Minecraft
                </div>
                <div class="text">
                    Kilkudziesięciu uczniów naszej szkoły chętnie organizuje się na kilku serwerach tej popularnej gry
                    szwedzkiego studia promującej kreatywność i pracę zespołową. Często udaje im się zorganizować
                    właśnie dzięki naszej grupie na facebooku.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                18 kwietnia 2019
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/facebook.jpeg?size=660">
                </div>
                <div class="title">
                    Wiśniowa Grupa Ogólna
                </div>
                <div class="text">
                    Założyliśmy na facebooku grupę szkolną, na której znajduje się obecnie większośc uczniów. Stała się
                    ona platformą do porozumiewania się - mamy tam biuro rzeczy znalezionych, ogłaszamy ważne dla
                    uczniów akcje i wydarzenia, czy pytamy ich o zdanie w istotnych kwestiach. Niejednokrotnie właśnie
                    to szybkie centrum komunikacji przyczyniło się do sukcesu wielu inicjatyw uczniowskich.
                </div>
            </div>
        </div>
        <div class="timeline_card">
            <div class="date">
                luty 2017
            </div>
            <div class="container">
                <div class="img_container">
                    <img src="../../../img/projects/aulaczekoladowa.jpg?size=660">
                </div>
                <div class="title">
                    Aula Czekoladowa
                </div>
                <div class="text">
                    Nasi uczniowie zorganizowali fundusze od kilku organizacji pozarządowych i własnymi rękami odrestaurowali aulę przy
                    bufecie, która natychmiast zatętniła życiem. Jej nazwa wzięła się od koloru cegieł po nałożeniu bejcy, która okazała się
                    ciemniejsza niż sądziliśmy. To bijące serce naszej społeczności.
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}
{{/main}}