<header class="cd-header">
	<div class="nav-logo">
		<div class="nav-logo-image"></div>
	</div>
	<div class="nav-but-wrap">
		<div class="menu-icon hover-target">
			<span class="menu-icon__line menu-icon__line-left"></span>
			<span class="menu-icon__line"></span>
			<span class="menu-icon__line menu-icon__line_last menu-icon__line-right"></span>
		</div>
	</div>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item {{#if active_home}}active-nav{{/if}}"><a href="/" class="hover-target">Strona
						główna</a></li>
				<li class="nav__list-item {{#if active_team}}active-nav{{/if}}"><a href="/team"
						class="hover-target">Zespół</a></li>
				<li class="nav__list-item {{#if active_projects}}active-nav{{/if}}"><a href="/projects"
						class="hover-target">Projekty</a></li>
				<li class="nav__list-item {{#if active_forstudent}}active-nav{{/if}}"><a href="/forstudent"
						class="hover-target">Dla ucznia</a></li>
				<li class="nav__list-item {{#if active_wifi}}active-nav{{/if}}"><a href="/wifi"
						class="hover-target">WiFI</a></li>
				<li class="nav__list-item {{#if active_contact}}active-nav{{/if}}"><a href="/contact"
						class="hover-target">Kontakt</a></li>
			</ul>
		</div>
	</div>
</header>