{{#> main }}
    {{> menu active_forstudent=true}}
    <div class="title_box">
        <h1 class="title_box_text">
            DLA UCZNIA
        </h1>
    </div>
    <div id="services_container">
        <div class="service-card new soon">
            <img data-src="../../../img/icons/icons8-mobile-100.png" class="logo lazyload">
            <div class="name">Aplikacja</div>
            <div class="desc">Wypróbuj aplikację Wiśniowej! Wszystko czego potrzebujesz w jednej apce!<br>Narazie tylko na urządzenia Android</div>
            <a class="btn"><span>JUŻ NIEDŁUGO</span></a>
            {{!-- <a target="_blank" href="https://app.wisniowasu.pl" class="btn"><span>UŻYWAJ</span></a>      --}}
        </div>
        <div class="service-card new soon">
            <img data-src="../../../img/icons/icons8-documents-100.png" class="logo lazyload">
            <div class="name">Wiki</div>
            <div class="desc">Wszystkie informacje o samorządzie w jednym miejscu! Zerknij i dowiedź się więcej o naszej działalności</div>
            <a class="btn"><span>JUŻ NIEDŁUGO</span></a>
             {{!-- <a target="_blank" href="https://wiki.wisniowasu.pl" class="btn"><span>UŻYWAJ</span></a>      --}}
        </div>
        <div class="service-card">
            <img data-src="../../../img/icons/icons8-link-100.png" class="logo lazyload">
            <div class="name">Generator linków</div>
            <div class="desc">Chcesz wygenerować sobie skrócony link z naszym brandem? Nie ma problemu, ta usługa jest dla Ciebie </div>
            <a target="_blank" href="https://links.wisniowasu.pl" class="btn"><span>ZOBACZ</span></a>
        </div>
        <div class="service-card">
            <img data-src="../../../img/icons/icons8-onedrive-100.png" class="logo lazyload">
            <div class="name">Pliki</div>
            <div class="desc">Wszystkie pliki będą niedługo tutaj. Grafiki, regulaminy, materiały. Cokolwiek co jest związane z nami i może być publiczne ląduje tu</div>
            <a target="_blank" href="https://drive.wisniowasu.pl" class="btn"><span>ZOBACZ</span></a>     
        </div>
        <div class="service-card">
            <img data-src="../../../img/icons/icons8-feedback-100.png" class="logo lazyload">
            <div class="name">Feedback</div>
            <div class="desc">Twoje zdanie się liczy! Wskazuj co jest ważne dla społeczności szkolnej</div>
            <a target="_blank" href="https://feedback.wisniowasu.pl" class="btn"><span>ZOBACZ</span></a>          
        </div>
        <div class="service-card">
            <img data-src="../../../img/icons/icons8-facebook-100.png" class="logo lazyload">
            <div class="name">Grupa ogólna</div>
            <div class="desc">Dołącz do grupy całej społeczności szkolnej! Dziel się swoimi opiniami ze wszystkimi</div>
            <a target="_blank" href="https://www.facebook.com/groups/220753918677171/" class="btn"><span>DOŁĄCZ</span></a>     
        </div>
        <div class="service-card">
            <img data-src="../../../img/icons/icons8-discord-100.png" class="logo lazyload">
            <div class="name">Discord</div>
            <div class="desc">Dołącz do Discorda szkolnego! Jeśli chcesz pogadać z ludźmi w sekcji to jest właśnie to miejsce</div>
            <a target="_blank" href="https://discord.wisniowasu.pl" class="btn"><span>DOŁĄCZ</span></a>     
        </div>
    </div>
    {{> footer }}
{{/main}}