{{#> main }}
{{> menu active_team=true}}
<div class="title_box">
    <h1 class="title_box_text">
        ZESPÓŁ <span class="title_box_date">2020/21</span>
    </h1>
</div>
<div class="fullpadding" id="teamcontainer">
    <p class="category">Zarząd</p>
    <div class="human-cardcontainer">
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2019_20/photo_2.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-manager-100.png">
                <div class="box">
                    <p class="title">PRZEWODNICZĄCY</p>
                    <p class="name">Paweł Rogalski</p>
                </div>
            </div>
            <div class="moreinfo">
                Przyszły niedoszły technik informatyk. Sam siebie określa jako "człowieka orkiestrę", ambitnego
                optymistę, dla którego nie ma rzeczy niemożliwych. Uwielbia pracę z ludźmi, socjologię, marketing i
                ładnie pierwiastkujące się delty. W wolnym czasie udziela się społecznie i politycznie, robi projekty
                informatyczne oraz zwiedza świat autostopem. Na każdą sytuację znajdzie żart, czasem nawet zabawny.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2020_21/Julia-Kiryluk-Zastepca-Przewodniczaca-Sekcji-Organizacynej-SU.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-businesswoman-100.png">
                <div class="box">
                    <p class="title">ZASTĘPCA PRZEWODNICZĄCEGO</p>
                    <p class="name">Julia Kiryluk</p>
                </div>
            </div>
            <div class="moreinfo">
                Od pierwszych dni szkoły aktywnie działa w samorządzie, brak doświadczenia nadrabia bardzo szybko ucząc
                się od najlepszych. Chciałaby, żeby doba miała 48 godzin, aby mogła zrealizować wszystko co sobie
                zamarzyła i zaplanowała, w tym przejście kilku gier czy obejrzenie seriali. Swoim uśmiechem stara się
                umilić dzień wszystkim wokół niej, atmosfera jest weselsza, kiedy tylko ona jest w pobliżu. Docenia i
                podziwia ciężką pracę innych nawet, jeśli jej nie przynosi ona korzyści. Zawsze pomoże zagubionej duszy,
                a na hasło "Wrex" odpowie "Shepard".
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2019_20/photo_unknown.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-businesswoman-100.png">
                <div class="box">
                    <p class="title">ZASTĘPCA PRZEWODNICZ. ORAZ SKARBNIK</p>
                    <p class="name">Julia Wawryniuk</p>
                </div>
            </div>
            <div class="moreinfo">
                Intelektualistka, miłośniczka antykwariatów i kuchni gruzińskiej- zapytana o ulubioną książkę, odpowie,
                że „Rok 1984” Orwella. Mimo duszy humanistki nie straszne są jej liczby, oprócz funkcji
                Wiceprzewodniczącej jest również skarbniczką. Julka to wulkan dobrej energii, którą chętnie dzieli się z
                innymi. Uwielbia wdawać się w dyskusje i zawsze służy pomocą.
            </div>
        </div>

        <div class="human-card">
            <img class="personimg greyout" src="../../../img/team/2019_20/img (3).jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-school-director-female-100.png">
                <div class="box">
                    <p class="title">OPIEKUN SAMORZĄDU</p>
                    <p class="name">Aneta Maciejczyk</p>
                </div>
            </div>
            <div class="moreinfo">
                Nauczycielka języka polskiego i wiedzy o kulturze z ponad 20-letnim doświadczeniem. Praca z młodzieżą w
                szkole średniej, która od zawsze była jej marzeniem, przynosi jej dużo satysfakcji i radości, które z
                sukcesami przelewa na tych, których uczy. Jest otwarta na wyzwania i czuje potrzebę zmieniania polskiej
                oświaty. Lubi eksperymentować z edukacją i chętnie wspiera uczniów w ich nietuzinkowych pomysłach. Jest
                pomysłodawczynią zastosowania metody Design Thinking na Wiśniowej. Uważa, że najważniejszym elementem
                każdej pracy jest człowiek. Przykłada dużą wagę do rozwijania wśród młodzieży umiejętności komunikacji,
                kompetencji społecznych, empatii a także kształtowania relacji. Jest jednym z tych nauczycieli, do
                których można przyjść z każdym problemem i zawsze postara się znaleźć na ten problem rozwiązanie.
            </div>
            <div class="shadow">

            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <p class="category">Przewodniczący Sekcji</pclass="category">
        <div class="human-cardcontainer">
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2020_21/Konrad-Sochacki-Zarzadca-Pokoju.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-chat-room-100.png">
                    <div class="box">
                        <p class="title">ZARZĄDCA POKOJU SU</p>
                        <p class="name">Konrad Sochacki</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Zarządca pokoju SU, mechatronik. Ambitny, uparty i preferujący działanie od zbędnego gadania. Fan gier komputerowych, kostek Rubika jak i elektroniki czy robotyki. Zawsze gotowy do pracy. Jak coś ma być zrobione to porządnie i do końca.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2020_21/Julia-Kiryluk-Zastepca-Przewodniczaca-Sekcji-Organizacynej-SU.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-mind-map-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ORGANIZACYJNA</p>
                        <p class="name">Julia Kiryluk</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Od pierwszych dni szkoły aktywnie działa w samorządzie, brak doświadczenia nadrabia bardzo szybko
                    ucząc się od najlepszych. Chciałaby, żeby doba miała 48 godzin, aby mogła zrealizować wszystko co
                    sobie zamarzyła i zaplanowała, w tym przejście kilku gier czy obejrzenie seriali. Swoim uśmiechem
                    stara się umilić dzień wszystkim wokół niej, atmosfera jest weselsza, kiedy tylko ona jest w
                    pobliżu. Docenia i podziwia ciężką pracę innych nawet, jeśli jej nie przynosi ona korzyści. Zawsze
                    pomoże zagubionej duszy, a na hasło "Wrex" odpowie "Shepard".
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_4.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-maintenance-100.png">
                    <div class="box">
                        <p class="title">SEKCJA TECHNICZNA</p>
                        <p class="name">Maciek Tracz</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Przewodniczący Sekcji Technicznej, informatyk z wyboru i pasji. Poza technologią o której chce wiedzieć zdecydowanie za dużo, interesuje się psychologią stąd też w jego projektach można poczuć wyjątkowego ducha zespołu. Jest tą osobą, która zawsze znajdzie czas, żeby Ci pomóc i przy okazji pozostawić uśmiech na twarzy. Ma otwarty umysł za sprawą którego, stara się poszerzać swoje horyzonty rozmowami z różnymi ludźmi czy słuchaniem ulubionych podcastów. Jest zdrowym optymistą, odnajdzie iskierkę nadziei w sytuacjach, w których inni dawno już dali za wygraną. Oprócz umiejętności zrozumienia otaczającego nas świata, lubi regularnie zanurzać się w świat medytacji czy oddawać lekturze poezji. W rzadkich wolnych chwilach lubi czytać (słuchać) książki samorozwojowe (zwłaszcza te bez chwytliwych tytułów) oraz robić pizzę. Uważa, że z dobrym planem nie ma rzeczy niemożliwych, dlatego kiedy już dany plan powstanie realizuje go z pełnym zaangażowaniem, którym zaraża wszystkich wokół.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_8.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-communication-100.png">
                    <div class="box">
                        <p class="title">SEKCJA DEBATANCKA</p>
                        <p class="name">Bartłomiej Biadoń</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Jest jedną z tych osób, które zostały stworzone na swoje stanowisko. Kocha debaty i dyskusje. Uważa,
                    że najwyższą formą posiadania własnego zdania, jest umiejętność rozmawiania o nim i bronienia go. Na
                    problemy patrzy na wielu płaszczyznach i w każdej jest w stanie znaleźć mnóstwo wad i zalet
                    konkretnego rozwiązania. Interesuje się relacjami międzyludzkimi, psychologią, ekonomią i polityką.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2020_21/Jakub-Mrozicki-Przewodniczacy-Sekcji-Prawnej-SU.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-law-100.png">
                    <div class="box">
                        <p class="title">SEKCJA PRAWNA</p>
                        <p class="name">Jakub Mrozicki</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Zamiłowanie do rozmów w zestawieniu z ogromnym zapleczem merytorycznym tworzą Kubę- debatanta, przewodniczącego sekcji prawnej, miłośnika wszelkiego rodzaju gier, od komputerowych aż po karcianki. Dosłownie każdy znajdzie z nim jakiś wspólny temat. Kocha popkulturę, kolekcjonuje figurki i gadżety z nią związane. Jego znakiem rozpoznawczym są marynarki, które podkreślają jego profesjonalizm, bo Kuba właśnie taki jest - profesjonalny na każdej płaszczyźnie. Jest też fanem Conworldingu, w który chętnie wprowadzi każdego zainteresowanego.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2020_21/Kasia-Mikolajczuk-Sekcja-Artystyczna-1-SU.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-musical-notes-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ARTYSTYCZNA</p>
                        <p class="name">Kasia Mikołajczyk</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Artystyczna dusza, humanistka, a w wolnych chwilach cosplayerka. Fanka „Gwiezdnych wojen” oraz gier komputerowych - wyzywając ją na pojedynek, liczcie się z przegraną :D Porozmawiacie z nią niemal na każdy temat, a przy okazji zyskacie nową wiedzę, Kasia jest bowiem osobą oczytaną, dodatkowo ze zdolnościami dydaktycznymi!
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2020_21/Juliusz-Nocen-Sekcja-Artystyczna-2-SU.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-musical-notes-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ARTYSTYCZNA</p>
                        <p class="name">Juliusz Noceń</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Współprzewodniczący sekcji artystycznej, niesamowity basista z genialnym słuchem muzycznym. Jest duszą towarzystwa, osobą żywiołową i optymistycznie nastawioną do życia. Lubi być w ciągłym ruchu i po prostu działać- zarówno w życiu osobistym, jak i na szczeblu zawodowym.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2020_21/Mateusz-Pogoda-Sekcja-Medialna-SU.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-satisfaction-100.png">
                    <div class="box">
                        <p class="title">SEKCJA MEDIALNA</p>
                        <p class="name">Mateusz Pogoda</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Tegoroczny maturzysta i przewodniczący sekcji medialnej. Ogromny fan grafiki, fotografii oraz informatyki. Znajduje się w top 3 graczy Pokemon Sword & Shield w Polsce. Na szkolnych eventach poznacie go po aparacie w ręku- uśmiechnijcie się wtedy szeroko do obiektywu, Mateusz na pewno odpowie tym samym. Jest osobą przyjacielską, która nie odmówi pomocy, dlatego nie bójcie się poprosić go o radę :)
                </div>
            </div>
        </div>
        {{> team_picker }}
</div>
{{> footer }}
{{/main}}