{{#> main }}
{{> menu active_team=true}}
<div class="title_box">
    <h1 class="title_box_text">
        ZESPÓŁ <span class="title_box_date">2021/22</span>
    </h1>
</div>
<div class="fullpadding" id="teamcontainer">
    <p class="category">Zarząd</p>
    <div class="human-cardcontainer">
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Dominika-Kopkiewicz.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-businesswoman-100.png">
                <div class="box">
                    <p class="title">ZASTĘPCZYNI PRZEWODNICZĄCEGO</p>
                    <p class="name">Dominika Kopkiewicz</p>
                </div>
            </div>
            <div class="moreinfo">
                Wesoły duch, który potrafi działać szybko i skutecznie. Stypendystka fundacji EFC. Uwielbia mieć wszystko zaplanowane i
                dopięte na ostatni guzik. Interesuje się relacjami międzyludzkimi, psychologią i duchowością. Lubi gry planszowe i
                sport. Kocha dyskutować na wszystkie możliwe tematy i zastanawiać się "co by było, gdyby". Nie pogardzi, gdy opowiesz
                jej jakąś fajną ciekawostkę.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Julia-Wawryniuk.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/RRRRRRUDAAAA.png">
                <div class="box">
                    <p class="title">PEŁNIĄCA OBOWIĄZKI PRZEWODNICZĄCEGO</p>
                    <p class="name">Julia Wawryniuk</p>
                </div>
            </div>
            <div class="moreinfo">
                Intelektualistka, miłośniczka antykwariatów i kuchni gruzińskiej- zapytana o ulubioną książkę, odpowie, że „Rok 1984”
                Orwella. Uwielbia wdawać się w dyskusje i zawsze służy pomocą. Ma dużo doświadczenia, które potrafi dobrze wykorzystać.
                Chętnie się nim dzieli, zarażając do samorządu każdego, kogo spotka na swojej drodze.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Maciej-Tracz.jpg">
            <div class="info">
                <img src="../../../img/icons/icons8-businessman-100.png">
                <div class="box">
                    <p class="title">ZASTĘPCA PRZEWODNICZĄCEGO</p>
                    <p class="name">Maciej Tracz</p>
                </div>
            </div>
            <div class="moreinfo">
                Przewodniczący Sekcji Technicznej, informatyk z wyboru i pasji. Poza technologią o której chce wiedzieć zdecydowanie za
                dużo, interesuje się psychologią stąd też w jego projektach można poczuć wyjątkowego ducha zespołu. Jest tą osobą, która
                zawsze znajdzie czas, żeby Ci pomóc i przy okazji pozostawić uśmiech na twarzy. Ma otwarty umysł za sprawą którego,
                stara się poszerzać swoje horyzonty rozmowami z różnymi ludźmi czy słuchaniem ulubionych podcastów. Jest zdrowym
                optymistą, odnajdzie iskierkę nadziei w sytuacjach, w których inni dawno już dali za wygraną. Oprócz umiejętności
                zrozumienia otaczającego nas świata, lubi regularnie zanurzać się w świat medytacji czy oddawać lekturze poezji. W
                rzadkich wolnych chwilach lubi czytać (słuchać) książki samorozwojowe (zwłaszcza te bez chwytliwych tytułów) oraz robić
                pizzę. Uważa, że z dobrym planem nie ma rzeczy niemożliwych, dlatego kiedy już dany plan powstanie realizuje go z pełnym
                zaangażowaniem, którym zaraża wszystkich wokół.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2020_21/Konrad-Sochacki-Zarzadca-Pokoju.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-chat-room-100.png">
                <div class="box">
                    <p class="title">ZARZĄDCA POKOJU SU</p>
                    <p class="name">Konrad Sochacki</p>
                </div>
            </div>
            <div class="moreinfo">
                Zarządca pokoju SU, mechatronik. Ambitny, uparty i preferujący działanie od zbędnego gadania. Fan gier
                komputerowych, kostek Rubika jak i elektroniki czy robotyki. Zawsze gotowy do pracy. Jak coś ma być
                zrobione to porządnie i do końca.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg greyout" src="../../../img/team/2019_20/img (3).jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-school-director-female-100.png">
                <div class="box">
                    <p class="title">OPIEKUNKA SAMORZĄDU</p>
                    <p class="name">Aneta Maciejczyk</p>
                </div>
            </div>
            <div class="moreinfo">
                Nauczycielka języka polskiego i wiedzy o kulturze z ponad 20-letnim doświadczeniem. Praca z młodzieżą w
                szkole średniej, która od zawsze była jej marzeniem, przynosi jej dużo satysfakcji i radości, które z
                sukcesami przelewa na tych, których uczy. Jest otwarta na wyzwania i czuje potrzebę zmieniania polskiej
                oświaty. Lubi eksperymentować z edukacją i chętnie wspiera uczniów w ich nietuzinkowych pomysłach. Jest
                pomysłodawczynią zastosowania metody Design Thinking na Wiśniowej. Uważa, że najważniejszym elementem
                każdej pracy jest człowiek. Przykłada dużą wagę do rozwijania wśród młodzieży umiejętności komunikacji,
                kompetencji społecznych, empatii a także kształtowania relacji. Jest jednym z tych nauczycieli, do
                których można przyjść z każdym problemem i zawsze postara się znaleźć na ten problem rozwiązanie.
            </div>
            <div class="shadow">
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Wiktoria-Chudorlińska.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-documents-100.png">
                <div class="box">
                    <p class="title">SEKRETARKA SAMORZĄDU</p>
                    <p class="name">Wiktoria Chudorlińska</p>
                </div>
            </div>
            <div class="moreinfo">
                Artyska, która nie boi się pracy z ludźmi. Otwarta na wyzwania i nowe, mimo że z pozoru bywa nieśmiała. Chętnie spędza
                czas z ludźmi, chociaż lubi czasem pobyć sama ze sobą. Od pierwszych dni stawała się aktywnym członkiem samorządu
                uczniowskiego. Pogodna, wyrozumiała i pracowita. Chce się rozwijać i zgłębiać tajemnice organizacji oraz zarządzania.
                Jeśli masz ochotę na partyjkę lola czy apexa już wiesz do kogo się zgłosić.
            </div>
        </div>
    </div>

    <div class="spacer"></div>
    <p class="category">Przewodniczący Sekcji</pclass="category">

    <div class="human-cardcontainer">
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Dominika-Kopkiewicz.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-mind-map-100.png">
                <div class="box">
                    <p class="title">SEKCJA ORGANIZACYJNA</p>
                    <p class="name">Dominika Kopkiewicz</p>
                </div>
            </div>
            <div class="moreinfo">
                Wesoły duch, który potrafi działać szybko i skutecznie. Stypendystka fundacji EFC. Uwielbia mieć wszystko zaplanowane i
                dopięte na ostatni guzik. Interesuje się relacjami międzyludzkimi, psychologią i duchowością. Lubi gry planszowe i
                sport. Kocha dyskutować na wszystkie możliwe tematy i zastanawiać się "co by było, gdyby". Nie pogardzi, gdy opowiesz
                jej jakąś fajną ciekawostkę.
            </div>
        </div>
        <div class="human-card">
            <div class="info">
                <img src="../../../img/icons/icons8-maintenance-100.png">
                <div class="box">
                    <p class="title">SEKCJA TECHNICZNA</p>
                    <p class="name">Maciek Tracz</p>
                </div>
            </div>
            <div class="moreinfo">
                Przewodniczący Sekcji Technicznej, informatyk z wyboru i pasji. Poza technologią o której chce wiedzieć
                zdecydowanie za dużo, interesuje się psychologią stąd też w jego projektach można poczuć wyjątkowego
                ducha zespołu. Jest tą osobą, która zawsze znajdzie czas, żeby Ci pomóc i przy okazji pozostawić uśmiech
                na twarzy. Ma otwarty umysł za sprawą którego, stara się poszerzać swoje horyzonty rozmowami z różnymi
                ludźmi czy słuchaniem ulubionych podcastów. Jest zdrowym optymistą, odnajdzie iskierkę nadziei w
                sytuacjach, w których inni dawno już dali za wygraną. Oprócz umiejętności zrozumienia otaczającego nas
                świata, lubi regularnie zanurzać się w świat medytacji czy oddawać lekturze poezji. W rzadkich wolnych
                chwilach lubi czytać (słuchać) książki samorozwojowe (zwłaszcza te bez chwytliwych tytułów) oraz robić
                pizzę. Uważa, że z dobrym planem nie ma rzeczy niemożliwych, dlatego kiedy już dany plan powstanie
                realizuje go z pełnym zaangażowaniem, którym zaraża wszystkich wokół.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2019_20/photo_8.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-communication-100.png">
                <div class="box">
                    <p class="title">SEKCJA DEBATANCKA</p>
                    <p class="name">Bartłomiej Biadoń</p>
                </div>
            </div>
            <div class="moreinfo">
                Jest jedną z tych osób, które zostały stworzone na swoje stanowisko. Kocha debaty i dyskusje. Uważa,
                że najwyższą formą posiadania własnego zdania, jest umiejętność rozmawiania o nim i bronienia go. Na
                problemy patrzy na wielu płaszczyznach i w każdej jest w stanie znaleźć mnóstwo wad i zalet
                konkretnego rozwiązania. Interesuje się relacjami międzyludzkimi, psychologią, ekonomią i polityką.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Michał-Białoskórski.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-law-100.png">
                <div class="box">
                    <p class="title">SEKCJA PRAWNA</p>
                    <p class="name">Michał Białoskórski</p>
                </div>
            </div>
            <div class="moreinfo">
                Idealista, który lubi żyć w swoim świecie ładu i porządku. Ceni sobie dotrzymywanie słowa, punktualność oraz dokładność
                w działaniu. W wolnym czasie słucha muzyki rockowej z lat 70. Ma zdanie na każdy możliwy temat. Jest dociekliwy, każdy
                argument popiera badaniami oraz z szybkością światła wyciąga swojego laptopa, który jest zawsze gotowy do pracy.
                Pasjonuje się również drukiem 3D.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2021_22/Igor-Lelonek.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-satisfaction-100.png">
                <div class="box">
                    <p class="title">SEKCJA MEDIALNA</p>
                    <p class="name">Igor Lelonek</p>
                </div>
            </div>
            <div class="moreinfo">
                Nieśmiały, ale zaradny człowiek, który potrafi wyjść z każdej sytuacji obronną ręką. Wielki fan Darwinów, Rancza i
                starych polskich filmów. Pasjonat fotografii, której oddaje się całym sercem. Stypendysta fundacji EFC. Zawsze chętnie
                podejmie dyskusję na temat kultur i polityki zagranicznej. Zabawny, życzliwy i zawsze chętny do pomocy.
            </div>
        </div>
    </div>
    {{> team_picker }}
</div>
{{> footer }}
{{/main}}