
.human-cardcontainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

}

#teamcontainer
{
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 1fr;
    // grid-column-gap: 0px;
    // grid-row-gap: 0px;
    max-width: 1500px;
    margin: auto;

    .spacer
    {
        margin: 20px 20px 20px 20px;
        width: calc(100% - 40px);
        height: 1px;
        background-color: rgba(0,0,0,0.3);
    }
    // p.gridleft
    // {
    //     grid-area: 1 / 1 / 2 / 2; 
    // }
    // div.gridleft
    // {
    //     grid-area: 2 / 1 / 3 / 2;
    // }
    // p.gridright
    // {
    //     grid-area: 1 / 2 / 2 / 3;
    // }
    // div.gridright
    // {
    //     grid-area: 2 / 2 / 3 / 3;
    // }
}

.human-card
{
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    margin: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    transform-style: preserve-3d;
    border-radius: 5px;
    cursor: pointer;

    &.open:not(.hover)
    {
        .moreinfo
        {
            opacity: 1;
            background-color: white;
            margin-top: 19px;
            transform: translate3d(0px,-6px,30px);
        }
        .info
        {
            
            border-radius: 0px;
            margin: 11px 11px 7px 11px !important;
            padding-bottom: 4px;
            transform: translate3d(0px,-6px,30px);
            @supports (-ms-ime-align: auto)
            {
                margin: 11px 11px 11px 11px !important;
                padding-bottom: 0px;
                transform: translate3d(0px,0px,30px);
            }
        }
    }
    &.open.hover
    {
        .moreinfo
        {
            opacity: 1;
            background-color: white;
            margin: 10px 8px -15px 8px;
            transform: translateZ(30px);
        }
    }
    &.open
    {
        transform: scale(1.1) !important;
    }

    .moreinfo
    {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 3;
        opacity: 0;
        margin: 312px 11px -12px 11px;
        padding: 15px;
        transition: all 0.2s ease-in-out;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @supports (-ms-ime-align: auto)
        {
            margin: 319px 11px -19px 11px;
        }
    }
    .info
    {
        margin: 15px;
        grid-area: 2 / 1 / 3 / 2;
        z-index: 2;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

        transition: all 0.2s ease-in-out;
        
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        overflow: hidden;

        img
        {
            grid-area: 1 / 1 / 2 / 2;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            padding: 15px;
            object-position: center;
            object-fit: contain;
            filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.15));
            pointer-events:none;
            overflow: hidden;
        }

        div.box
        {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;
            padding-left: 10px;
        }

        p {
            
            &.title
            {
                
                font-family: 'Raleway', sans-serif;
                margin: 0;
                font-size: 13px;
                font-weight: 600;

                color: rgba(0,0,0,0.7);

                @media (max-width: 425px)
                {
                    font-size: 10px;
                }
            }
            &.name
            {
                margin: 0;
                font-size: 20px;
                font-weight: 600;

                @media (max-width: 425px)
                {
                    font-size: 18px;
                }   
            }
        }

    }
    img.personimg
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
        grid-area: 1 / 1 / 3 / 2;
        z-index: 1;
        pointer-events:none
    }

    &.hover
    {
        .info
        {
            
            border-radius: 0px;
            margin: 8px;
            transform: translate3d(0px,0px,30px);

        }

        transform: scale(1.08) !important;
    }
}
@media (hover: hover)
{
    .human-card:hover
    {
        .info
        {
            
            border-radius: 0px;
            margin: 11px;
            transform: translate3d(0px,-6px,30px);
            @supports (-ms-ime-align: auto)
            {
                transform: translate3d(0px,0px,30px);
            }

        }
        
        @supports (-ms-ime-align: auto)
        {
            transform: scale(1.05) !important;
        }
    }
}

p.category
{
    font-weight: 700;
    margin: 0;
    font-size: 45px;
    color: black;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
    text-align: center;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(288deg, #ff7f66, #de1444);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    @media (max-width: 450px) {
        font-size: 2.1em; 
        height: auto;
    }

}

  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  