{{#> main }}
{{> menu active_team=true}}
<div class="title_box">
    <h1 class="title_box_text">
        ZESPÓŁ
    </h1>
</div>
<div class="fullpadding" id="teamcontainer">
    <p class="category">JUŻ NIEDŁUGO</p>
    {{> team_picker }}
</div>
{{> footer }}
{{/main}}