{{#> main }}
{{> menu active_team=true}}
<div class="title_box">
    <h1 class="title_box_text">
        ZESPÓŁ <span class="title_box_date">2019/20</span>
    </h1>
</div>
<div class="fullpadding" id="teamcontainer">
    <p class="category">Zarząd</p>
    <div class="human-cardcontainer">
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2019_20/img (2).jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-manager-100.png">
                <div class="box">
                    <p class="title">PEŁNIĄCY OBOWIĄZKI PRZEWODNICZĄCEGO</p>
                    <p class="name">Piotr Targos</p>
                </div>
            </div>
            <div class="moreinfo">
                Człowiek, który do Samorządu trafił przez przypadek, ale który odnalazł się w nim jak mało kto. W swojej
                niemal trzyletniej karierze był już Wiceprzewodniczącym. Teraz sprawuje funkcję, która pozwala mu na
                robienie tego, co lubi, czyli przedstawiania świata przez pryzmaty. Zapalony konsolowiec, który każdą
                grę opanuję do perfekcji. Wychodzi z założenia, że odpoczynek jest równie ważny co praca. Przyziemny
                realista dla którego nie ma rzeczy niemożliwych, na co dowodem jest platyna w Bloodborne.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg" src="../../../img/team/2019_20/photo_2.jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-businessman-100.png">
                <div class="box">
                    <p class="title">ZASTĘPCA PRZEWODNICZĄCEGO</p>
                    <p class="name">Paweł Rogalski</p>
                </div>
            </div>
            <div class="moreinfo">
                Przyszły niedoszły technik informatyk. Sam siebie określa jako "człowieka orkiestrę", ambitnego
                optymistę, dla którego nie ma rzeczy niemożliwych. Uwielbia pracę z ludźmi, psychologię, marketing i
                ładnie pierwiastkujące się delty. W wolnym czasie udziela się społecznie, robi projekty informatyczne,
                działa w gromadzie zuchów i zwiedza świat autostopem. Na każdą sytuację znajdzie żart, czasem nawet
                zabawny.
            </div>
        </div>
        <div class="human-card">
            <img class="personimg greyout" src="../../../img/team/2019_20/img (3).jpg?size=400">
            <div class="info">
                <img src="../../../img/icons/icons8-school-director-female-100.png">
                <div class="box">
                    <p class="title">OPIEKUN SAMORZĄDU</p>
                    <p class="name">Aneta Maciejczyk</p>
                </div>
            </div>
            <div class="moreinfo">
                Nauczycielka języka polskiego i wiedzy o kulturze z ponad 20-letnim doświadczeniem. Praca z młodzieżą w
                szkole średniej, która od zawsze była jej marzeniem, przynosi jej dużo satysfakcji i radości, które z
                sukcesami przelewa na tych, których uczy. Jest otwarta na wyzwania i czuje potrzebę zmieniania polskiej
                oświaty. Lubi eksperymentować z edukacją i chętnie wspiera uczniów w ich nietuzinkowych pomysłach. Jest
                pomysłodawczynią zastosowania metody Design Thinking na Wiśniowej. Uważa, że najważniejszym elementem
                każdej pracy jest człowiek. Przykłada dużą wagę do rozwijania wśród młodzieży umiejętności komunikacji,
                kompetencji społecznych, empatii a także kształtowania relacji. Jest jednym z tych nauczycieli, do
                których można przyjść z każdym problemem i zawsze postara się znaleźć na ten problem rozwiązanie.
            </div>
            <div class="shadow">

            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <p class="category">Przewodniczący Sekcji</pclass="category">
        <div class="human-cardcontainer">
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_25.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-mind-map-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ORGANIZACYJNA</p>
                        <p class="name">Julia Kiryluk</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Od pierwszych dni szkoły aktywnie działa w samorządzie, brak doświadczenia nadrabia bardzo szybko
                    ucząc się od najlepszych. Chciałaby, żeby doba miała 48 godzin, aby mogła zrealizować wszystko co
                    sobie zamarzyła i zaplanowała, w tym przejście kilku gier czy obejrzenie seriali. Swoim uśmiechem
                    stara się umilić dzień wszystkim wokół niej, atmosfera jest weselsza, kiedy tylko ona jest w
                    pobliżu. Docenia i podziwia ciężką pracę innych nawet, jeśli jej nie przynosi ona korzyści. Zawsze
                    pomoże zagubionej duszy, a na hasło "Wrex" odpowie "Shepard".
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_14.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-maintenance-100.png">
                    <div class="box">
                        <p class="title">SEKCJA TECHNICZNA</p>
                        <p class="name">Piotr Stadnicki</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Fanatyk wszelkiego sprzętu VR oraz automatyki domowej. Uwielbia zarządzać projektami, dzielić się
                    wiedzą a przede wszystkim ceni ludzi, którzy są pasjonatami w swoich dziedzinach. Jara się muzyką
                    kinową, zagmatwanymi serialami oraz długimi grami. Nie ważne jakiego rozmiaru jest projekt zasada
                    „zawsze profesjonalne zawsze efektownie” jest obecna w każdym z nich. Serdecznie pozdrawia HQ Squad,
                    najlepszą grupę klasową, która towarzyszy mu od samego początku szkoły.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_8.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-communication-100.png">
                    <div class="box">
                        <p class="title">SEKCJA DEBATANCKA</p>
                        <p class="name">Bartłomiej Biadoń</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Jest jedną z tych osób, które zostały stworzone na swoje stanowisko. Kocha debaty i dyskusje. Uważa,
                    że najwyższą formą posiadania własnego zdania, jest umiejętność rozmawiania o nim i bronienia go. Na
                    problemy patrzy na wielu płaszczyznach i w każdej jest w stanie znaleźć mnóstwo wad i zalet
                    konkretnego rozwiązania. Interesuje się relacjami międzyludzkimi, psychologią, ekonomią i polityką.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_18.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-law-100.png">
                    <div class="box">
                        <p class="title">SEKCJA PRAWNA</p>
                        <p class="name">Jakub Mrozicki</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Debatant, gracz i mistrz gry, specjalista od szeroko pojętej kultury mniej lub bardziej popularnej.
                    Sam jest twórcą systemów RPG oraz wielu koncepcji postaci i światów, w których umieszcza swoje
                    historie i nigdy nie dokończone opowiadania. W najmniej spodziewanych momentach zdarza mu się sięgać
                    po notes, aby zapisać pomysł, który akurat wpadł mu do głowy. Na otaczający świat patrzy bardzo
                    realistycznie i krytycznie, ale w każdej sytuacji znajdzie (czasem żartem, czasem serio) jakiś plus.
                    Nie lubi utartych schematów i doceni wszystko co nietuzinkowe i pomysłowe. Ma coś ciekawego do
                    powiedzenia na niemal każdy temat i chętnie z każdym porozmawia. W wolnych chwilach zaznajamia się z
                    ciekawostkami ze świata lub tematem, który akurat siedzi mu w głowie albo robi kolejną rzecz, która
                    znajdzie się w jego kolekcji propów.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg greyout" src="../../../img/team/2019_20/img (1).jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-leaderboard-100.png">
                    <div class="box">
                        <p class="title">SEKCJA TURNIEJOWA</p>
                        <p class="name">Maks Grzelecki</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Pewien mądry człowiek powiedział kiedyś, że "Ptak siedzący na drzewie, nie boi się że gałąź się
                    złamie, nie dlatego że ufa gałęzi, ale dlatego że wierzy we własne skrzydła." Max Grzelecki -
                    Przewodniczący Sekcji Turniejowej - to osoba pewna siebie, a jego skrzydła dają mu moc jak nic
                    innego. Jego motto życiowe to “Zawsze staraj się być lepszy, bo nigdy nie wiesz kiedy ta przewaga
                    może ci się przydać”. Nieopanowana ambicja gra w jego życiu główną rolę, ogromna pewność siebie
                    plusuje a dzięki tym dwóm dominującym cechom, Maks osiąga sukcesy. Odwaga to jego drugie imię.
                    Zawsze mówi to co myśli, możesz liczyć na jego szczerość. A jeżeli zaangażuje się w daną sprawę -
                    daje z siebie 110%. Czasami problem ogromny niczym Mount Everest jest dla Maksa bułką z masłem. Nic
                    nie stanowi dla niego problemu, bo każdą sytuację błyskawicznie potrafi rozłożyć na czynniki
                    pierwsze i wykryć główny powód dylematu. Prawdopodobnie jest najbardziej wyluzowaną osobą jaką
                    znasz. Interesuje się praktycznie wszystkim od motoryzacji, lotnictwa i ogólnie pojętego sportu
                    przez informatykę i technologię po psychologię i kino. Kiedyś zagorzały gracz CSa (w sumie 2000h
                    gry). Od zawsze prowadzi aktywny tryb życia – przez 9 lat trenował koszykówkę, a od półtora roku
                    próbuje swoich sił w MMA. Nie jest mu obcy także motorsport, od ponad 3 lat startuje z tatą w
                    rajdach offroadowych w najcięższej klasie jako pilot. W przyszłości, kiedy będzie już miał górę
                    pieniędzy, chciałby zmienić świat na lepsze, pomagać ludziom i zwierzętom tak samo jak Zbigniew
                    Stonoga, czy Marcin Różalski - w sposób konkretny, bezpośredni i bez owijania w bawełnę.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_10.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-musical-notes-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ARTYSTYCZNA</p>
                        <p class="name">Ania Dymna</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Gdy zapytasz ją o ulubiony przedmiot szkolny bez wahania odpowie, że matematyka. Uwielbia ją tak
                    samo, jak jej nauczycielkę, Panią Sokół. Swoim humorem i dobrym słowem rozjaśni każdy, nawet
                    najciemniejszy dzień. Zawsze można na nią liczyć i stara się pomóc każdemu, kto tej pomocy
                    potrzebuje. Jej największą kolekcję stanowią memy i zdjęcia słodkich zwierzątek [nie mniej słodkich
                    niż ona sama], które chętnie udostępni wszystkim zainteresowanym.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_unknown.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-satisfaction-100.png">
                    <div class="box">
                        <p class="title">SEKCJA MEDIALNA</p>
                        <p class="name">Jakub Szalacha</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Niestety ten Pan jeszcze nie ma opisu, ale zerknij później ;) Na pewno uzupełnimy!
                </div>
            </div>
        </div>
        {{> team_picker }}
</div>
{{> footer }}
{{/main}}