{{#> main }}
    {{> menu active_team=true}}
    <div class="title_box">
        <h1 class="title_box_text">
            ZESP <span class="title_box_date">2022/23</span>
        </h1>
    </div>
    <div class="fullpadding" id="teamcontainer">
        <p class="category">Zarzd</p>
        <div class="human-cardcontainer">
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/k_cetnar.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-businesswoman-100.png">
                    <div class="box">
                        <p class="title">WICEPRZEWODNICZCA</p>
                        <p class="name">Kalina Cetnar</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Mioniczka ci偶szych brzmie oraz naczelna basistka w Sekcji Artystycznej. Uczennica czwartej klasy
                    na profilu technik informatyk dwujzyczny - humanistka z serca, cisowiec z zawodu. Wyr贸偶nia si kreatywnoci,
                    stanowczoci oraz otwartoci na nowe dowiadczenia i pomysy 
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/k_tyszkiewicz.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-manager-100.png">
                    <div class="box">
                        <p class="title">PRZEWODNICZCY</p>
                        <p class="name">Kornel Tyszkiewicz</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Czowiek wielu talent贸w, filantrop, osoba nieszablonowa, wielowymiarowy, nieosigalny dla byt贸w tego wiata, skromny
                    ale zarazem lubicy pokaza zoty perowy pazur, kopalnia pomys贸w, naszpikowany ekspresyjnym wyra偶aniem siebie tw贸rca.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/p_stefanski.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-businessman-100.png">
                    <div class="box">
                        <p class="title">WICEPRZEWODNICZCY</p>
                       <p class="name">Piotr Stefaski</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Ambitny i odpowiedzialny czowiek, kt贸ry jest ostoj spokoju samorzdu. Jeli chciaby podyskutowa na tematy
                    mechatroniczne ale r贸wnie偶 mniej spodziewane, jak 偶eglarstwo znajdziesz w Piotrku ciekawego rozm贸wc. Uwielbia sport,
                    "Igrzyska mierci", szachy, rocka z lat 80. i 90., nie obce s mu zwierzta i woda. 呕egluje, pywa i strzela z uku
                    konno. Gdy m贸wimy o jego artystycznym zaciciu, najwa偶niejszym punktem jest gra na gitarach: akustycznej i elektrycznej.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/n_simopulos.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-chat-room-100.png">
                    <div class="box">
                        <p class="title">ZARZDCA POKOJU SU</p>
                        <p class="name">Nikolaos Simopulos</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Tegoroczny Zarzdca Pokoju SU, mechatronik w klasie maturalnej. Osoba z kt贸r mo偶na porozmawia na
                    ka偶dy mo偶liwy temat, chtna do pomocy, o sporym dowiadczeniu w wielu dziedzinach. Artysta z krwi i
                    koci, mionik herbaty, wielki fan gotowania.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg greyout" src="../../../img/team/2019_20/img (3).jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-school-director-female-100.png">
                    <div class="box">
                        <p class="title">OPIEKUNKA SAMORZDU</p>
                        <p class="name">Aneta Maciejczyk</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Nauczycielka jzyka polskiego i wiedzy o kulturze z ponad 20-letnim dowiadczeniem. Praca z modzie偶 w
                    szkole redniej, kt贸ra od zawsze bya jej marzeniem, przynosi jej du偶o satysfakcji i radoci, kt贸re z
                    sukcesami przelewa na tych, kt贸rych uczy. Jest otwarta na wyzwania i czuje potrzeb zmieniania polskiej
                    owiaty. Lubi eksperymentowa z edukacj i chtnie wspiera uczni贸w w ich nietuzinkowych pomysach. Jest
                    pomysodawczyni zastosowania metody Design Thinking na Winiowej. Uwa偶a, 偶e najwa偶niejszym elementem
                    ka偶dej pracy jest czowiek. Przykada du偶 wag do rozwijania wr贸d modzie偶y umiejtnoci komunikacji,
                    kompetencji spoecznych, empatii a tak偶e ksztatowania relacji. Jest jednym z tych nauczycieli, do
                    kt贸rych mo偶na przyj z ka偶dym problemem i zawsze postara si znale藕 na ten problem rozwizanie.
                </div>
                <div class="shadow">
                </div>
            </div>
            {{!-- <div class="human-card">
                <img class="personimg" src="../../../img/team/2021_22/Wiktoria-Chudorliska.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-money-box-100.png">
                    <div class="box">
                        <p class="title">SKARBNIK SAMORZDU</p>
                        <p class="name">Wiktoria Chudorliska</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Artyska, kt贸ra nie boi si pracy z lud藕mi. Otwarta na wyzwania i nowe, mimo 偶e z pozoru bywa niemiaa. Chtnie spdza
                    czas z lud藕mi, chocia偶 lubi czasem poby sama ze sob. Od pierwszych dni stawaa si aktywnym czonkiem samorzdu
                    uczniowskiego. Pogodna, wyrozumiaa i pracowita. Chce si rozwija i zgbia tajemnice organizacji oraz zarzdzania.
                    Jeli masz ochot na partyjk lola czy apexa ju偶 wiesz do kogo si zgosi.
                </div>
            </div> --}}
        </div>

        <div class="spacer"></div>
        <p class="category">Przewodniczcy Sekcji</p>

        <div class="human-cardcontainer">
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/a_sliwczynski.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-mind-map-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ORGANIZACYJNA</p>
                        <p class="name">Arkadiusz liwczyski</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Ze wzgldu na uo偶enie planet oraz inne zdarzenia losowe opisu nie ma, pojawi si niebawem...
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/p_stefanski.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-musical-notes-100.png">
                    <div class="box">
                        <p class="title">SEKCJA ARTYSTYCZNA</p>
                        <p class="name">Piotr Stefaski</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Ambitny i odpowiedzialny czowiek, kt贸ry jest ostoj spokoju samorzdu. Jeli chciaby podyskutowa na tematy
                    mechatroniczne ale r贸wnie偶 mniej spodziewane, jak 偶eglarstwo znajdziesz w Piotrku ciekawego rozm贸wc. Uwielbia sport,
                    "Igrzyska mierci", szachy, rocka z lat 80. i 90., nie obce s mu zwierzta i woda. 呕egluje, pywa i strzela z uku
                    konno. Gdy m贸wimy o jego artystycznym zaciciu, najwa偶niejszym punktem jest gra na gitarach: akustycznej i elektrycznej.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/w_nedew.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-maintenance-100.png">
                    <div class="box">
                        <p class="title">SEKCJA TECHNICZNA</p>
                        <p class="name">Wiktor Nedew</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Z powoania programista, pasjonat technologii Open Source i Linuxa. 呕aden typ projektu nie jest mu straszny, chocia偶
                    preferuje C++ i tworzenie Backendu aplikacji. Do ka偶dego zadania podchodzi odpowiedzialnie i profesjonalnie, nie lubi, gdy co jest niedokoczone.
                    W wolnym czasie fan gotowania oraz autor opowiada. Mionik kryminau i zawiych historii z licznymi zwrotami akcji,
                    czy to w grach, ksi偶kach, czy w serialach lub filmach. Zawsze chtnie pomo偶e jak tylko bdzie m贸g, wystarczy spyta.
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_unknown.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-maintenance-100.png">
                    <div class="box">
                        <p class="title">SEKCJA TECHNICZNA</p>
                        <p class="name">Micha Leniowski</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Ambitny, zabawny, lekko ekscentryczny i zawsze skory do pomocy w ka偶dej potrzebie. Opr贸cz webdevu interesuje si
                    motoryzacj i rynkami finansowymi. Ma otwarty umys za spraw kt贸rego, stara si poszerza swoje horyzonty rozmowami
                    z r贸偶nymi lud藕mi czy czytaniem ksi偶ek o samorozwoju. Skupia si na stawianiu sobie maych cel贸w i metodycznym wypenianiu ich.
                </div>
            </div>
            {{!-- <div class="human-card">
                <img class="personimg" src="../../../img/team/2019_20/photo_8.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-communication-100.png">
                    <div class="box">
                        <p class="title">SEKCJA DEBATANCKA</p>
                        <p class="name">Bartomiej Biado</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Jest jedn z tych os贸b, kt贸re zostay stworzone na swoje stanowisko. Kocha debaty i dyskusje. Uwa偶a,
                    偶e najwy偶sz form posiadania wasnego zdania, jest umiejtno rozmawiania o nim i bronienia go. Na
                    problemy patrzy na wielu paszczyznach i w ka偶dej jest w stanie znale藕 mn贸stwo wad i zalet
                    konkretnego rozwizania. Interesuje si relacjami midzyludzkimi, psychologi, ekonomi i polityk.
                </div>
            </div> --}}
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/m_lukasiak.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-job-seeker-100.png">
                    <div class="box">
                        <p class="title">SEKCJA PRAWNA</p>
                        <p class="name">Micha ukasiak</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Pasjonat ekonomii, przedsibiorczoci i zwizanego z nimi prawa. Innowator, kt贸ry chtnie zaanga偶uje si w
                    Tw贸j projekt i pomo偶e w uzyskaniu niezbdnych rodk贸w i partner贸w, w czym ma ju偶 spore dowiadczenie. Poza szko
                    Wiceprzewodniczcy oraz p.o. Sekretarza Modzie偶owej Rady Dzielnicy Mokot贸w, a tak偶e czonek Komisji Rewizyjnej Modzie偶owej
                    Rady m.st. Warszawy. Prywatnie lubi dobrze zje i 偶eglowa, a w swoje pasje (obie) lubi wciga znajomych!
                </div>
            </div>
            <div class="human-card">
                <img class="personimg" src="../../../img/team/2022_23/w_perzanowska.jpg?size=400">
                <div class="info">
                    <img src="../../../img/icons/icons8-social-network-100.png">
                    <div class="box">
                        <p class="title">SEKCJA MEDIALNA</p>
                        <p class="name">Wiktoria Perzanowska</p>
                    </div>
                </div>
                <div class="moreinfo">
                    Ekstrawertyk z du偶ym poczuciem humoru i dystansu do siebie. Ambitna optymistka, dla kt贸rej nie ma problemu,
                    kt贸rego nie daoby si w jaki spos贸b rozwiza. Jeli potrzebujesz porady w jakiejkolwiek dziedzinie, zawsze
                    su偶y pomoc. Czowiek, z kt贸rym mo偶esz dyskutowa na ka偶dy mo偶liwy temat. Ma gow pen pomys贸w, kt贸re stara si
                    zrealizowa w jak najlepszym wydaniu. Prywatnie fanka gotowania, mioniczka ksi偶ek kryminalnych, film贸w akcji i hard rocka.
                </div>
            </div>
        </div>
        {{> team_picker }}
    </div>
    {{> footer }}
{{/main}}