{{#> main }}
{{> menu active_home=true}}
<div id="logo_container">
    <div id="logo"></div>
    <svg id="slide_down_icon" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;" />
        <path id="mouse"
            d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
            style="fill:none;stroke:#fff;stroke-width:20px;" />
    </svg>
    <div id="slide_down_text">Zjedź na dół by dowiedzieć się więcej</div>

    <div id='team_image_container'>
        <div id="moving_gradient"></div>
        <a id='team_image' data-href="../../../img/team/2021_22/team.jpg?size=1920" class="progressive replace">
            <img src="../../../img/team/2021_22/team.jpg?size=100" alt="Zespół" class="preview" />
        </a>
    </div>
</div>
<h1 class="section_topic">
    O nas
</h1>
<div class="pageblock-full">
    <div class="card">
        <div class="card-image">
        </div>
        <h2 class="card-title">
            O nas
        </h2>
        <h3 class="card-text">
            Jesteśmy grupą osób, które połączyła chęć zmian. Mimo różnych kompetencji i spojrzenia na świat, każdy z nas
            chce osiągnąć ten sam cel. Wykorzystując ten fakt, powstały poszczególne sekcje, pozwalające każdemu
            realizować się w zakresie, w którym czuje się pewnie i w którym się spełnia. Dzięki temu mamy realny wpływ
            na to, co dzieje się w szkole i sprawiamy, że jest ona miejscem, w którym potrzeby uczniów naprawdę się
            liczą. Nie działamy jednak tylko w zakresie szkolnym, ponieważ nie lubimy ograniczeń. Prowadzimy również
            projekty na skalę Warszawy. Zdajemy sobie sprawę, że do zmian, które chcemy wprowadzać w życie, potrzebny
            jest zespół. Samorząd tworzą więc ci, którym zależy, by odpowiedzialnie i świadomie planować działania,
            które udoskonalą i poprawią życie we wspólnocie, jaką jest szkoła.
        </h3>
    </div>
</div>
<h2 class="section_topic">
    Warte uwagi
</h2>
<div class="pageblock-full">
    <div class="buttonsgroup">
        <a class="button" href="/projects">
            <div class="img_container">
                <img data-src="../../../img/projects/projects.jpg?size=660" alt="Projekty Wiśniowa SU" class="lazyload">
            </div>
            <h3 class="button-text">Projekty</h3>
        </a>
        <a class="button" href="/wifi">
            <div class="img_container">
                <img data-src="../../../img/wifi/wifi_przycisk.jpg" alt="WiFI 2021"
                    class="lazyload">
            </div>
            <h3 class="button-text">WiFI 2021</h3>
        </a>
        <a class="button" href="https://pasje.wisniowasu.pl">
            <div class="img_container">
                <img data-src="../../../img/logos/konferencja.svg" alt="Konferencja Samorządów Warszawskich"
                    class="lazyload">
            </div>
            <h3 class="button-text">Konferencja 2020</h3>
        </a>
        {{!-- <a class="button" href="https://mc.wisniowasu.pl">
            <div class="img_container">
                <img data-src="../../../img/logos/logo_cherrycraft.png?size=660" style="object-position: 50% 33%;"
                    alt="CherryCraft: Retold" class="lazyload">
            </div>
            <h3 class="button-text">CherryCraft: Retold</h3>
        </a> --}}

    </div>
</div>
<h2 class="section_topic">
    Nasze atuty
</h2>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Innowacja"
                data-src="../../../img/icons/icons8-innovation-100.png" />
            <h3 class="minicard-title">Innowacyjność</h3>
            <h3 class="minicard-text">Samorząd Wiśniowej jest samorządem chcącym wprowadzać wiele nowych rozwiązań
                mających na celu ułatwić funkcjonowanie społeczności. Stawiamy na proste i skuteczne rozwiązania, takie
                jak tablica projektów Trello, aplikacja szkoły ze wszystkimi potrzebnymi funkcjami, czy chociażby cała
                działalność pozaszkolna samorządu, stawiająca na rozwiązania przyszłościowe</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Komunikacja"
                data-src="../../../img/icons/icons8-people-working-together-100.png" />
            <h3 class="minicard-title">Komunikacja</h3>
            <h3 class="minicard-text">Nasz SU jest instytucją bardzo otwartą na uczniów, którzy zawsze mogą skonsultować
                swoje wątpliwości, lub po prostu wyrazic swoją opinię na temat działań SU, a jego opinia nigdy nie
                zostanie pominięta </h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Kreatywność"
                data-src="../../../img/icons/icons8-intelligence-100.png" />
            <h3 class="minicard-title">Kreatywność</h3>
            <h3 class="minicard-text">Można powiedzieć że naszemu zespołowi bardziej brakuje ludzi, niż pomysłów. W
                samorządzie zawsze jest co robić, a projekty są innowacyjne i szeroko wykraczające poza działania
                szkolne. Nasze inicjatywy mają zasięg całej Warszawy, a rozwiązania stosowane wewnątrz są oryginalne i
                sprawdzają się w działaniu</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Jakość" data-src="../../../img/icons/icons8-guarantee-100.png" />
            <h3 class="minicard-title">Jakość</h3>
            <h3 class="minicard-text">Nasza praca jest rzetelna, a każde przydzielone zadanie, zostanie wykonane na 101%
                możliwości. Nie jest to miejsce w którym rzeczy robi się "na odwal", a każdy projekt przed oddaniem musi
                być dopięty na ostatni guzik</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Organizacja"
                data-src="../../../img/icons/icons8-hierarchy-100.png" />
            <h3 class="minicard-title">Organizacja</h3>
            <h3 class="minicard-text">Dzięki kompetentnemu zespołowi i odpowiedzialnemu zarządzaniu, w samorządzie nic
                nie dzieje się przypadkiem. Każdy ma jasno przydzielone zadanie, a każde szkolne wydarzenie ma ustalony
                harmonogram, w którym nie ma miejsca na przypadek</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Nowoczesność"
                data-src="../../../img/icons/icons8-smart-card-100.png" />
            <h3 class="minicard-title">Nowoczesność</h3>
            <h3 class="minicard-text">Jako samorząd posiadamy rozbudowaną infrastrukturę IT, która umożliwia nam
                dynamiczne uruchamianie nowych usług dla społeczności szkolnej. Nie boimy się nowych rozwiązań. Dzięki
                wspraciu i zainteresowaniu społeczności szkolnej jako pierwsza szkoła w Warszawie wprowadziliśmy
                eLegitymacje oraz mLegitymacje. </h3>
        </div>
    </div>
</div>
<h2 class="section_topic">
    Nasze sekcje
</h2>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Organizacja"
                data-src="../../../img/icons/icons8-mind-map-100.png" />
            <h3 class="minicard-title">Sekcja Organizacyjna</h3>
            <h3 class="minicard-text">Odpowiada za organizację wydarzeń w szkole i poza nią, po cichu pociąga za sznurki
                wszystkiego, co na Wiśniowej wychodzi z inicjatywy uczniów.</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Debaty"
                data-src="../../../img/icons/icons8-communication-100.png" />
            <h3 class="minicard-title">Sekcja Debatancka</h3>
            <h3 class="minicard-text">Grupa ludzi z zamiłowaniem do dyskusji, zawsze gotowa poratować dobrym argumentem.
                Reprezentuje szkołę w Warszawskiej Lidze Debatanckiej.</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Administracja"
                data-src="../../../img/icons/icons8-job-seeker-100.png" />
            <h3 class="minicard-title">Sekcja Administracyjna</h3>
            <h3 class="minicard-text">Wprowadza w tajniki dobrej administracji wspierając samorząd merytorycznie poprzez
                negocjacje, tworzenie aktów prawnych i archiwizację wszystkich podejmowanych działań. Zapewnia
                pozostałym sekcjom pole do pracy.</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Technologia"
                data-src="../../../img/icons/icons8-maintenance-100.png" />
            <h3 class="minicard-title">Sekcja Techniczna</h3>
            <h3 class="minicard-text">Grupa miłośników technologicznych nowinek, zapewniająca naszej szkole wiele
                nowatorskich rozwiązań, wsparcie techniczne eventów oraz działań su w internecie poza sieciami
                społecznościowymi.</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Media"
                data-src="../../../img/icons/icons8-social-network-100.png" />
            <h3 class="minicard-title">Sekcja Medialna</h3>
            <h3 class="minicard-text">Projektuje i publikuje treści w mediach społecznościowych co pozwala na dobrą
                komunikacje z uczniami. Ponadto wykonują zdjęcia różnych wydarzeń odbywających się w naszej szkole.</h3>
        </div>
        <div class="minicard">
            <img class="minicard-icon lazyload" alt="Sztuka"
                data-src="../../../img/icons/icons8-musical-notes-100.png" />
            <h3 class="minicard-title">Sekcja Artystyczna</h3>
            <h3 class="minicard-text">Sekcja zrzeszająca twórców z wielu dziedzin sztuki. Umożliwia uczniom
                zaprezentowanie swoich talentów oraz przeprowadza konkursy z nagrodami umożliwiając dalszy
                rozwój w danym kierunku</h3>
        </div>
    </div>
</div>
{{> footer }}
{{/main}}