{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Kontakt
    </h1>
</div>
{{> wifi_header}}
<h2 class="section_topic">W każdym domu powinien być przynajmniej jeden</h2>
<div class="pageblock-full">
    <img src="../../../img/icons/kontakt.jpg" alt="kontakt" class="image">
</div>
<div class="pageblock-full">
    <h3 class="soon">koniecznie z uziemieniem</h3>
</div>
{{> footer }}
{{/main}}