{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Szczegóły wydarzenia
    </h1>
</div>
{{> wifi_header active_wifi_details=true}}
{{!-- <div class="page-container">
    <img src="../../../img/icons/wip_cherry.svg" alt="Strona w budowie" style="max-width: 90%;">
    <h2 class="section_topic alt-mobile-anim" style="margin-top: -10px;">Strona w budowie</h2>
    <h3 class="soon">...ale już niedługo będzie gotowa</h3>
</div> --}}
<h2 class="section_topic alt-mobile-anim">Poznaj listę atrakcji</h2>
<div class="pageblock-full">
    <h3 class="sub-header" style="margin: -20px 0 10px;">i ich organizatorów</h3>
</div>
{{!-- <section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image" style="height: 400px;">
            <div class="info-card__image image1"></div>
            <p class="info-card__image-caption">
                Imiona organizatorów<br>
                <span class="caption">to co organizują</span>
            </p>
        </div>
        <div class="info-card__image">
            <div class="info-card__image image2" style="--offset-y: 40%;"></div>
            <p class="info-card__image-caption">
                Imiona organizatorów<br>
                <span class="caption">to co organizują</span>
            </p>
        </div>
        <div class="info-card__image">
            <div class="info-card__image image3"></div>
            <p class="info-card__image-caption">
                Imiona organizatorów<br>
                <span class="caption">to co organizują</span>
            </p>
        </div>
    </div> --}}
    {{!-- <p class="info-card__image-caption">
        Imiona organizatorów<br>
        <span class="caption">to co organizują</span>
    </p> --}}
    {{!-- <article class="info-card__content">
        <h3 class="info-card__header">Escape Room</h3>
        <p class="info-card__text">Jest to wydarzenie, które stawia przed ucze&shy;stnikami serie zadań
            wyma&shy;gających współpracy i logi&shy;cznego myślenia. Ma na celu poznać ucze&shy;stników ze sobą nawzajem
            oraz umożliwić im nawiązanie kontaktów międzyoddziałowych.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image image2" style="--offset-y: 40%;"></div>
    <p class="info-card__image-caption">
        Imiona organizatorów<br>
        <span class="caption">to co organizują</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Scena główna</h3>
        <p class="info-card__text">Scena ze specjalnym harmono&shy;gramem wydarzeń, mająca stanowić centrum wydarzeń i
            miejsce inte&shy;gracji oraz rozrywki dla wszy&shy;stkich uczestników festiwalu.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image image3"></div>
    <p class="info-card__image-caption">
        Imiona organizatorów<br>
        <span class="caption">to co organizują</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Doświadczenia chemiczne</h3>
        <p class="info-card__text">Wydzielony obszar w którym, w bezpie&shy;czny sposób, uczniowie będą mogli zobaczyć
            najciekawsze doświa&shy;dczenia chemiczne prze&shy;prowadzone przez studentów z politechniki.</p>
    </article>
</section> --}}
<section class="info-card">
    <div class="info-card__image strefa_minecraft rounded" style="--offset-y: 100%;"></div>
    <p class="info-card__image-caption">
        Zespół PERUNITE®<br>
        <span class="caption">organizatorzy atrakcji</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Strefa Minecraft</h3>
        <p class="info-card__text">Własny, ogromny serwer Minecraft, z którego będzie można skorzystać podczas
            wydarzenia. Tworzenie go, dostarcza nam dużo wrażeń, a wspólne korzystanie w jednym pomieszczeniu dostarczy
            jeszcze więcej, szczególnie, że to szkoła o zacięciu informatycznym. :)</p>
    </article>
</section>
<section class="info-card">
    <div data-src="../../../img/wifi/atrakcje/loteria_0.jpg" class="info-card__image loteria rounded" style="--offset-y: 0%; --mobile-offset: 0%;">
    </div>
    <p class="info-card__image-caption">
        Konrad Sochacki, Michał Ozimek, Jagoda Ługowska<br>
        <span class="caption">organizatorzy atrakcji</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Loteria fantowa</h3>
        <p class="info-card__text">Rozdanie, w którym będzie można zdobyć ciekawe i zróżnicowane nagrody. Nie tylko sam
            udział wywoła dużo pozytywnych emocji, ale wymiana “łupami” po wydarzeniu, zmusi uczniów do integracji i
            poznania nowych osób.</p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image www-1"></div>
        <div class="info-card__image www-0"></div>
    </div>
    <p class="info-card__image-caption">
        Igor Malarski, Kasia Czop, Michał Ozimek, Olek Majchrzak<br>
        <span class="caption">organizatorzy atrakcji</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Wiśniowa Wystawa Wspianiałości</h3>
        <p class="info-card__text">Konkurs, którego zadaniem będzie pobudzić uczniów do inwencji twórczej. Grafiki,
            zdjęcia czy rysunki - je wszystkie będziemy mogli podziwiać podczas wydarzenia. Wszystkie prace mają być w
            motywie PRL.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image montaz rounded"></div>
    <p class="info-card__image-caption">
        Paweł Przepiórka, Michał Wójcik, Michalina Pepel, Wiktor Nedew, Staś Wielgosz<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Konkurs montażu komputerów</h3>
        <p class="info-card__text">Z racji specyfiki szkoły, wielkim zainteresowaniem cieszy się pomysł składania
            komputerów oraz tworzenia układów elektronicznych, na czas. Zespołowo, indywidualnie - zgłoszeń i chętnych
            nie brakuje.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image rakietowe rounded "></div>
    <p class="info-card__image-caption">
        Dariusz Wróblewski, Emilia Glibowska, Jakub Wróblewski, Stanisław Michalski, Gabriela Rutkiewicz<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Stoisko rakietowe</h3>
        <p class="info-card__text">W naszej szkole mamy wielu bardzo zdolnych uczniów. Kilkoro z nich pasjonuje się
            rakietami. Otworzyli oni koło, które zrzesza innych miłośników tego tematu. Podczas WiFI chcą zaprezentować
            swoje dokonania, odkrycia oraz prace. </p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image koncert-1"></div>
        <div class="info-card__image koncert-0" style="--offset-y: 0%;"></div>
    </div>
    <p class="info-card__image-caption">
        Piotr Stefański, Ola Jakóbiak, Pola Chmielewska, Aleks Bogurad<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Koncert</h3>
        <p class="info-card__text">W naszym gronie nie brakuje artystów, szczególnie tych muzycznych. Sekcja artystyczna
            postanowiła zaangażować każdego chętnego i zorganizować długi koncert. Podczas oglądania rakiet czy brania
            udziału w loterii, dobiegać nas będą piosenki z czasów PRL i nie tylko.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image szachy rounded"></div>
    <p class="info-card__image-caption">
        Marcel Nguyen, Karolina Mirek<br>
        <span class="caption">organizatorzy atrakcji</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Turniej szachowy</h3>
        <p class="info-card__text">Matematycy, których w naszej szkole jest pod dostatkiem, kochają szachy. W
            porozumieniu z nauczycielem, który prowadzi kółko szachowe, samorząd ma zamiar przeprowadzić i przygotować
            mały turniej, otwarty na każdy poziom gry.</p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image cosplay-1" style="--offset-y: 57%; --mobile-offset: 60%;"></div>
        <div class="info-card__image cosplay-0"></div>
    </div>
    <p class="info-card__image-caption">
        Antek Kłosowski, Kasia Mikołajczyk, Igor Malarski<br>
        <span class="caption">organizatorzy atrakcji</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Konkurs cosplay</h3>
        <p class="info-card__text">Matematycy, których w naszej szkole jest pod dostatkiem, kochają szachy. W
            porozumieniu z nauczycielem, który prowadzi kółko szachowe, samorząd ma zamiar przeprowadzić i przygotować
            mały turniej, otwarty na każdy poziom gry.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image gry rounded" style="--offset-y: 45%;"></div>
    <p class="info-card__image-caption">
        Kuba Słupczewski, Alicja Rozmanowska, Maksymilian Osóbka<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Strefa gier</h3>
        <p class="info-card__text">Kto nie lubi gier planszowych? Korzystając z tego, że w poprzednich latach zdobyliśmy
            dofinansowanie na aulę gier, chcemy przyciągnąć ich miłośników i zachęcić do wspólnych rozgrywek; od
            chińczyka po skomplikowane gry ekonomiczne. Dla każdego coś powinno się znaleźć. </p>
    </article>
</section>
{{> footer }}
{{/main}}