{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Szczegóły wydarzenia
    </h1>
</div>
{{> wifi_header active_wifi_details=true}}
<h2 class="section_topic alt-mobile-anim">Poznaj listę atrakcji</h2>
<div class="pageblock-full">
    <h3 class="sub-header" style="margin: -20px 0 10px;">i ich organizatorów</h3>
</div>
<section class="info-card">
    <div class="info-card__image strefa_minecraft rounded"></div>
    <p class="info-card__image-caption">
        Zespół PERUNITE®<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Strefa Minecraft</h3>
        <p class="info-card__text">Własny, ogromny serwer Minecraft, z którego będzie można skorzystać podczas
            wydarzenia. Tworzenie go, dostarcza nam dużo wrażeń, a wspólne korzystanie w jednym pomieszczeniu dostarczy
            jeszcze więcej, szczególnie, że to szkoła o zacięciu informatycznym. :)</p>
    </article>
</section>
<section class="info-card">
    <div data-src="../../../img/wifi/atrakcje/loteria_0.jpg" class="info-card__image loteria rounded"
        style="--offset-y: 0%;">
    </div>
    <p class="info-card__image-caption">
        Konrad Sochacki, Michał Ozimek, Jagoda Ługowska<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Pewex</h3>
        <p class="info-card__text">Rozdanie, w którym będzie można zdobyć ciekawe i zróżnicowane nagrody. Nie tylko sam
            udział wywoła dużo pozytywnych emocji, ale wymiana “łupami” po wydarzeniu, zmusi uczniów do integracji i
            poznania nowych osób.</p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image www-1"></div>
        <div class="info-card__image www-0" style="--offset-y: 60%;"></div>
    </div>
    <p class="info-card__image-caption">
        Igor Malarski, Kasia Czop, Michał Ozimek, Olek Majchrzak<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Wiśniowa Wystawa Wspaniałości</h3>
        <p class="info-card__text">Konkurs, którego zadaniem będzie pobudzić uczniów do inwencji twórczej. Grafiki,
            zdjęcia czy rysunki - je wszystkie będziemy mogli podziwiać podczas wydarzenia. Wszystkie prace mają być w
            motywie PRL.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image montaz rounded"></div>
    <p class="info-card__image-caption">
        Paweł Przepiórka, Michał Wójcik, Michalina Pepel, Wiktor Nedew, Staś Wielgosz<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Konkurs montażu komputerów</h3>
        <p class="info-card__text">Z racji specyfiki szkoły, wielkim zainteresowaniem cieszy się pomysł składania
            komputerów oraz tworzenia układów elektronicznych, na czas. Zespołowo, indywidualnie - zgłoszeń i chętnych
            nie brakuje.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image rakietowe rounded "></div>
    <p class="info-card__image-caption">
        Dariusz Wróblewski, Emilia Glibowska, Jakub Wróblewski, Stanisław Michalski, Gabriela Rutkiewicz<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Stoisko rakietowe</h3>
        <p class="info-card__text">W naszej szkole mamy wielu bardzo zdolnych uczniów. Kilkoro z nich pasjonuje się
            rakietami. Otworzyli oni koło, które zrzesza innych miłośników tego tematu. Podczas WiFI chcą zaprezentować
            swoje dokonania, odkrycia oraz prace. </p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image koncert-2"></div>
        <div class="info-card__image koncert-1"></div>
        <div class="info-card__image koncert-0" style="--offset-y: 0%;"></div>
    </div>
    <p class="info-card__image-caption">
        Piotr Stefański, Ola Jakóbiak, Pola Chmielewska, Aleks Bogurad, zespół<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Scena główna</h3>
        <p class="info-card__text">Tętniące życiem serce WiFi, centrum informacji i nagród. W naszym gronie nie brakuje
            artystów, szczególnie tych muzycznych. Sekcja artystyczna postanowiła zaangażować każdego chętnego i
            zorganizować pierwszy w tym sezonie, i jak dotąd największy, koncert. Podczas oglądania rakiet czy brania
            udziału w rożnego rodzaju konkursach nie zapomnijcie wpaść i posłuchać dobrej muzyki z minionej epoki i nie
            tylko!</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image szachy rounded" style="--offset-y: 65%;"></div>
    <p class="info-card__image-caption">
        Marcel Nguyen, Karolina Mirek<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Turniej szachowy</h3>
        <p class="info-card__text">Matematycy, których w naszej szkole jest pod dostatkiem, kochają szachy. W
            porozumieniu z nauczycielem, który prowadzi kółko szachowe, samorząd ma zamiar przeprowadzić i przygotować
            mały turniej, otwarty na każdy poziom gry.</p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image cosplay-2" style="--offset-y: 10%;"></div>
        <div class="info-card__image cosplay-1" style="--offset-y: 56%;"></div>
        <div class="info-card__image cosplay-0" style="--offset-y: 75%;"></div>
    </div>
    <p class="info-card__image-caption">
        Antek Kłosowski, Kasia Mikołajczyk, Igor Malarski<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Konkurs cosplay</h3>
        <p class="info-card__text">Przebieranie się to fantastyczna okazja, aby oderwać się od szarej rzeczywistości.
            Podczas festiwalu każdy, (nawet pracownicy szkoły) przebierze się za kogoś innego. Chętnych będziemy oceniać
            w konkursie na najlepszy cosplay. Będziemy - bo wszyscy na festiwalu będą mieli opcję głosowania i
            wyłonienia zwycięzców.</p>
    </article>
</section>
<section class="info-card">
    <div class="info-card__image gry rounded" style="--offset-y: 45%;"></div>
    <p class="info-card__image-caption">
        Kuba Słupczewski, Alicja Rozmanowska, Maksymilian Osóbka<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Strefa gier</h3>
        <p class="info-card__text">Kto nie lubi gier planszowych? Korzystając z tego, że w poprzednich latach zdobyliśmy
            dofinansowanie na aulę gier, chcemy przyciągnąć ich miłośników i zachęcić do wspólnych rozgrywek; od
            chińczyka po skomplikowane gry ekonomiczne. Dla każdego coś powinno się znaleźć. </p>
    </article>
</section>
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image konsole-0 rounded" style="--offset-y: 10%;"></div>
        <div class="info-card__image konsole-1 rounded" style="--offset-y: 5%;"></div>
    </div>
    <p class="info-card__image-caption">
        Bartosz Larenta, Mateusz Łojewski, Mateusz Pasek, Michał Ozimek<br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Strefa konsol</h3>
        <p class="info-card__text">Zapewne większość z nas lubi czasem pograć w gry. Z tego powodu wyznaczyliśmy
            specjalną strefę konsol, na której każdy będzie miał okazję skorzystać z konsol udostępnionych przez uczniów
            naszej szkoły. Do wyboru będzie dużo ciekawych tytułów jedno i wieloosobowych, więc na pewno każdy znajdzie
            dla siebie coś interesującego.</p>
    </article>
</section>
{{!-- <section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image sebixy-1 rounded" style="--offset-y: 20%;"></div>
        <div class="info-card__image sebixy-0 rounded"></div>
    </div>
    <p class="info-card__image-caption">
        wszyscy<br>
        <span class="caption">dyrektor tez</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">pałowanie heheehhehdeheheh</h3>
        <p class="info-card__text">ogolnie to bijemy uczniow naszej szkoly</p>
    </article>
</section> --}}
<section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image dekoracje-1 rounded"></div>
        <div class="info-card__image dekoracje-0 rounded" style="--offset-y: 55%;"></div>
    </div>
    <p class="info-card__image-caption">
        Wera Wójcik, Karolina Mirek, Gabriela Rutkiewicz, Kalina Cetnar, Tymoteusz Murawski, Ola Jakóbiak, Adam Cieślik,
        Ania Żmijewska, Antoni Czarnik, Kuba Liberadzki, Magda Witosińska, Maja Osińska, Natalia Grzegorzak, Piotr Lada,
        Wiktor Kaczyński <br>
        {{!-- <span class="caption">organizatorzy atrakcji</span> --}}
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Dekoracje</h3>
        <p class="info-card__text">Aby atmosfera WiFI była iście PRL-owska, zorganizowaliśmy dla Was wiele mebli, oraz
            rekwizytów wprost z lat 80. Nasz zespół przygotował wszystko tak, abyście od progu poczuli się, jakbyście
            przenieśli się w czasie.</p>
    </article>
</section>
{{!-- <section class="info-card">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="info-card__image konsole-0 rounded" style="--offset-y: 10%;"></div>
        <div class="info-card__image konsole-1 rounded" style="--offset-y: 5%;"></div>
    </div>
    <p class="info-card__image-caption">
        Mateusz Pasek, Jan Rękas, Piotr Kwiecień, Konrad Czubkowski, Paweł Gontowski, Krzysztof Andrzejewski<br>
        <span class="caption">organizatorzy atrakcji</span>
    </p>
    <article class="info-card__content">
        <h3 class="info-card__header">Karaoke</h3>
        <p class="info-card__text">Lubicie śpiewać? A może chcecie zażartować z kolegi? W takim razie mamy dla was coś
            idealnego! Na tegorocznym WiFI będzie możliwość odwiedzenia strefy karaoke. Przychodźcie i śpiewajcie, nie
            bójcie się. Ponieważ według nas każdy głos, to piękny głos.</p>
    </article>
</section> --}}
{{> footer }}
{{/main}}