{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Sczegóły wydarzenia
    </h1>
</div>
{{> wifi_header}}
<h2 class="section_topic">Tu na razie nic nie ma</h2>
<div class="pageblock-full">
    <h3 class="soon">ale niedługo będzie</h3>
</div>
{{> footer }}
{{/main}}