{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Harmonogram WiFI
    </h1>
</div>
{{> wifi_header active_wifi_harmonogram=true}}
<div class="page-container">
    <section class="schedule">
        <div class="vertical-line"></div>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>8.00 - 8.45</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">wazny naglowek</h1>
            <h2 class="schedule__section-subheader">mniej wazny naglowek</h2>
            <p class="schedule__section-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                possimus voluptate quis nemo porro quo deserunt repudiandae! Illo, magni enim.</p>
            <h2 class="schedule__section-subheader">kolejny mniej wazny naglowek</h2>
            <p class="schedule__section-text">Ipsam, esse magnam, tempora suscipit quis facilis, sunt quisquam nihil eum
                nesciunt eius!
                Unde ipsum tenetur magni perferendis odio temporibus nostrum nulla cum esse repellat! Quas consectetur
                fugiat</p>
        </section>
        <figure class="schedule__timespan" style="--order: 1">
            <figcaption>8.45 - 9.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 1">
            <h1 class="schedule__section-header">inny naglowek</h1>
        </section>
        <figure class="schedule__timespan" style="--order: 2">
            <figcaption>9.30 - 21.37</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 2">
            <h1 class="schedule__section-header">duzo tych naglowkow</h1>
            <h2 class="schedule__section-subheader">podnaglowek</h2>
            <p class="schedule__section-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
                possimus voluptate quis nemo porro quo deserunt repudiandae! Illo, magni enim.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 3">
            <figcaption>21.37 - 4.20</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 3">
            <h1 class="schedule__section-header">Lorem ipsum</h1>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>4.20 - 69.69</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">The Industrial Revolution</h1>
            <h2 class="schedule__section-subheader">and its consequences</h2>
            <p class="schedule__section-text">have been a disaster for the human race. They have greatly increased the
                life-expectancy of those of us who live in “advanced” countries, but they have destabilized society,
                have made life unfulfilling, have subjected human beings to indignities, have led to widespread
                psychological suffering (in the Third World to physical suffering as well) and have inflicted severe
                damage on the natural world. The continued development of technology will worsen the situation.</p>
            <h2 class="schedule__section-subheader">It will certainly</h2>
            <p class="schedule__section-text">subject human being to greater in- dignities and inflict greater damage on
                the natural world, it will probably lead to greater social disruption and psychological suffering, and
                it may lead to increased physical suffering even in “advanced” countries.</p>
        </section>
    </section>
</div>
{{> footer }}
{{/main}}