{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Harmonogram WiFI
    </h1>
</div>
{{> wifi_header active_wifi_harmonogram=true}}
<div class="page-container">
    <section class="schedule">
        <div class="vertical-line"></div>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>9.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Rozpoczęcie WiFI</h1>
            <h2 class="schedule__section-subheader">Tu coś o rozpoczęciu</h2>
            <p class="schedule__section-text">W harmonogramie daliście sobie pół godziny na rozpoczęcie, więc pewnie
                planujecie zrobić w tym czasie coś wartego opisania tutaj.</p>
            <h2 class="schedule__section-subheader">Rozpoczęcie działania atrakcji</h2>
            <p class="schedule__section-text">Jeśli dobrze rozumiem, to w tym czasie rozpoczynają też działanie
                wszystkie atrakcje, więc można tu ich kilka wymienić, napisać gdzie są itd.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 1">
            <figcaption>9.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 1">
            <h1 class="schedule__section-header">Koncert</h1>
            <p class="schedule__section-text">Rozpoczyna się koncert. Fajnie.</p>
            <h2 class="schedule__section-subheader">Cosplay</h2>
            <p class="schedule__section-text">Ruszają zapisy na konkurs cosplay</p>
            <h2 class="schedule__section-subheader">Wiśniowa Wystawa Wspaniałości</h2>
            <p class="schedule__section-text">Można już głosować naaa yyyy, no w sumie to nawet nie wiem na co, można by
                tutaj napisać</p>
            <h2 class="schedule__section-subheader">Szachy</h2>
            <p class="schedule__section-text">Zaznajcie rozrywki rozgrywając szachowe rozgrywki</p>
        </section>
        <figure class="schedule__timespan" style="--order: 2">
            <figcaption>10.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 2">
            <h1 class="schedule__section-header">Koniec koncertu...</h1>
            <h2 class="schedule__section-subheader">...początek czegoś nowego</h2>
            <p class="schedule__section-text">tylko właśnie nie wiem czego.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 3">
            <figcaption>10.45</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 3">
            <h1 class="schedule__section-header">Teleturniej</h1>
            <p class="schedule__section-text">Ostatni raz jak sprawdzałem, to TELEturnieje były transmitowane w
                TELEwizji. Zupełnie jakby przedrostek TELE nie znajdował się tu bez powodu... Ale kogo to obchodzi, ja
                tam się nie znam.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>11.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v2</h1>
            <h2 class="schedule__section-subheader">jeden nie wystarczył...</h2>
            <p class="schedule__section-text">...więc będzie kolejny. Można też wspomnieć, że zacznie się od razu po
                teleturnieju.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>12.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Cosplay głosowanie</h1>
            <p class="schedule__section-text">Koniec zapisów. Początek głosowania. Niech wygra najlepsze przebranie.
                Albo najgłupsze. Nie oszukujmy się, jesteśmy w technikum i ludzie będą głosować dla jaj :></p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>12.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Humanoid</h1>
            <h2 class="schedule__section-subheader">Humanoid – każdy byt,</h2>
            <p class="schedule__section-text">którego kształt ciała przypomina ludzkie. Termin obejmuje więc ssaki
                naczelne jak i mityczne istoty czy sztuczne organizmy (androidy), szczególnie w kontekście fantastyki
                naukowej i fantasy.</p>
            <h2 class="schedule__section-subheader">Zazwyczaj fikcyjne humanoidy</h2>
            <p class="schedule__section-text">to stworzenia dwunożne, o kształcie ciała podobnym do ludzkiego, jednak
                różniące się od ludzi kolorem skóry, ilością i umiejscowieniem włosów, wzrostem, masą ciała, kształtem
                uszu i nosa. Możliwa jest także obecność rogów, pazurów czy ogona, a także inna struktura kończyn.
                Możliwa jest przynależność do innej gromady.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>13.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v3</h1>
            <h2 class="schedule__section-subheader">another one</h2>
            <p class="schedule__section-text">When you feel like you just can't go on <i>remember...</i></p>
            <h2 class="schedule__section-subheader">ANOTHER ONE</h2>
            <p class="schedule__section-text">another one. another one. another one.</p>
            <h2 class="schedule__section-subheader">Ostatnie szanse na głosowanie?</h2>
            <p class="schedule__section-text">Głosowanie kończy się niby o 13.15, ale nie chce mi się robić kolejnej
                sekcji tylko na to, poza tym czemu głosowanie ma się kończyć o 13.15 a nie równo o 13? Po pierwsze to
                gorzej wygląda, po drugie zostaje tylko 15 minut na ustalenie zwycięzców i przygotowanie dla nich nagród
            </p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>13.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Rozdanie nagród</h1>
            <h2 class="schedule__section-subheader">...aka segment pozbywania się niepotzebnych rzeczy</h2>
            <p class="schedule__section-text">Z jakiegoś powodu ludzie bardzo się cieszą z rzeczy, których nigdy by sami
                nie kupili, bo nie są im potrzebne, o ile dostają je za darmo. Dobrze się składa, bo my też ich nie
                potrzebujemy i też dostajemy je za darmo.</p>
            <h2 class="schedule__section-subheader">A i szachy</h2>
            <p class="schedule__section-text">się skończyły. Myślicie że ludzie będą przez 4 godziny grać w szachy?</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>14.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v4</h1>
            <h2 class="schedule__section-subheader">o matko i córko ile tych koncertów</h2>
            <p class="schedule__section-text">Cztery. Ten będzie ostatni, więc można to uwzględnić w opisie</p>
            <h2 class="schedule__section-subheader">I Paweł zaczyna</h2>
            <p class="schedule__section-text">sprzątać swoje stanowisko w tym czasie. Ludzie lubią patrzeć jak inni
                pracują, więc może to będzie dla nich jakaś atrakcja patrzeć jak Paweł sobie sprząta. Ja bym popatrzył.
            </p>
        </section>
    </section>
    <br>
    <section class="schedule">
        <div class="vertical-line"></div>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>9.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Rozpoczęcie WiFI</h1>
            <p class="schedule__section-text">Na dobry początek zapraszamy na przemówienia otwierające wydarzenie
                Dyrektora Szkoły oraz Przewodniczącą SU.</p>
            <h2 class="schedule__section-subheader">Rozpoczęcie działania atrakcji</h2>
            <p class="schedule__section-text">Po rozpoczęciu zapraszamy wszystkich do odwiedzenia atrakcji
                przygotowanych przez uczniów m. in. Strefy Minecraft, Stoiska rakietowego w sali 207, Strefy Konsol
                znajdującej się w sali 416 oraz wiele wiele więcej. Pełna rozpiska atrakcji wraz z przypisanymi do nich
                salami będzie znajdować się … </p>
        </section>
        <figure class="schedule__timespan" style="--order: 1">
            <figcaption>9.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 1">
            <h1 class="schedule__section-header">Koncert</h1>
            <p class="schedule__section-text">Serdecznie zapraszamy wszystkich na pierwszy z 4 koncertów Sekcji
                Artystycznej.</p>
            <h2 class="schedule__section-subheader">Cosplay</h2>
            <p class="schedule__section-text">Ruszają zapisy na konkurs cosplay</p>
            <h2 class="schedule__section-subheader">Wiśniowa Wystawa Wspaniałości</h2>
            <p class="schedule__section-text">Oficjalnie otwieramy głosowanie na grafiki, zdjęcia i rysunki, w tematyce
                PRL, wykonane przez uczniów.</p>
            <h2 class="schedule__section-subheader">Szachy</h2>
            <p class="schedule__section-text">Wszystkich fanów szachów, zarówno początkujących, jak i zaawansowanych
                zapraszamy na rozgrywki szachowe.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 3">
            <figcaption>10.45</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 3">
            <h1 class="schedule__section-header">Teleturniej</h1>
            <p class="schedule__section-text">Weź udział w wiśniowym teleturnieju wiedzy o szkole i zdobądź wspaniałe
                nagrody.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>11.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v2</h1>
            <p class="schedule__section-text">Bezpośrednio po teleturnieju odbędzie się kolejny koncert.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>12.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Cosplay - głosowanie</h1>
            <p class="schedule__section-text">Kończymy zapisy na konkurs i rozpoczynamy głosowanie. Niech zwycięży
                najbardziej kreatywny kostium. Powodzenia :)</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>13.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v3</h1>
            <p class="schedule__section-text">Mamy dobrą wiadomość dla spragnionych dobrej muzyki - zapraszamy na trzeci
                koncert.</p>
            <h2 class="schedule__section-subheader">Ostatnia szansa aby zagłosować</h2>
            <p class="schedule__section-text">Dziękujemy za udział w konkursie i za oddawanie głosów.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>13.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Rozdanie nagród</h1>
            <p class="schedule__section-text">Rozstrzygnięcie konkursu cosplay i rozdanie nagród.</p>
            <p class="schedule__section-text">W tym samym czasie kończą się też rozgrywki szachowe - wszystkim
                szachistom serdecznie dziękujemy za udział:)</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>14.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v4</h1>
            <p class="schedule__section-text">Nagrody rozdane, czas świętować - zapraszamy wszystkich na już ostatni,
                zamykający WiFi koncert.</p>
        </section>
    </section>
    {{!-- <img src="../../../img/icons/wip_cherry.svg" alt="Strona w budowie" style="max-width: 90%;">
    <h2 class="section_topic alt-mobile-anim" style="margin-top: -10px;">hard working for samorząd</h2> --}}
    {{!-- <h3 class="soon">...ale już niedługo będzie gotowa</h3> --}}

</div>
{{> footer }}
{{/main}}