{{#> main }}
{{> menu }}
<div class="title_box">
    <h1 class="title_box_text">
        Harmonogram WiFI
    </h1>
</div>
{{> wifi_header active_wifi_harmonogram=true}}
<div class="page-container">
    <section class="schedule">
        <div class="vertical-line"></div>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>9.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Rozpoczęcie WiFI</h1>
            <h2 class="schedule__section-subheader">Krótki wstęp </h2>
            <p class="schedule__section-text">Wydarzenie rozpocznie się przemówieniem Dyrektora oraz przewodniczącej SU
                na Scenie Głównej od frontu szkoły, niedaleko bramy wjazdowej.</p>
            <h2 class="schedule__section-subheader">Rozpoczęcie działania atrakcji</h2>
            <p class="schedule__section-text">Zapraszamy m.in. do strefy konsol w sali 416, strefy Minecraft w salach
                komputerowych na trzecim piętrze, na konkurs szachowy w sali 123, do “Chemosfery” w sali 406, do strefy
                gier planszowych w auli gier oraz na karaoke w sali multimedialnej - sala 211 i na wiele innych
                atrakcji. Pełna lista stoisk dostępna będzie na plakatach rozwieszanych w budynku szkolnym oraz na
                stronie szkoły. Atrakcje stałe będą dostępne przez cały czas między atrakcjami planowymi.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>10.15</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Koncert nr. 1</h1>
            <h2 class="schedule__section-subheader">Koncert</h2>
            <p class="schedule__section-text">Zapraszamy na pierwszy z występów przygotowanych przez sekcję artystyczną,
                który zaplanowany jest na około godzinę i odbędzie się na Scenie Głównej</p>
            <h2 class="schedule__section-subheader">Konkurs cosplay</h2>
            <p class="schedule__section-text">Po zakończeniu koncertu ruszą zapisy do konkursu cosplay w sali 200,
                będzie można zrobić sobie zdjęcie na ściance.</p>
            <h2 class="schedule__section-subheader">Zapisy na teleturniej</h2>
            <p class="schedule__section-text">Przy scenie ruszają zapisy na teleturniej, który odbędzie się o godzinie
                11:15 - zapraszamy całą społeczność szkolną do udziału. Uczniowie, nauczyciele, personel szkolny,
                rodzice – liczymy na Was.</p>
            <h2 class="schedule__section-subheader">Wiśniowa Wystawa Wspaniałości</h2>
            <p class="schedule__section-text">Zapraszamy na przygotowaną przez uczniów wystawę grafik, zdjęć i rysunków
                inspirowanych okresem PRL w Auli Ciszy na trzecim piętrze. Poprzez głosowanie wybierzemy najlepsze z
                nich.</p>
            <h2 class="schedule__section-subheader">Szachy</h2>
            <p class="schedule__section-text">Wszystkich fanów szachów, zarówno początkujących, jak i zaawansowanych
                zapraszamy na rozgrywki szachowe w sali 123.</p>
            <h2 class="schedule__section-subheader">Montaż komputerów i układów mechatronicznych</h2>
            <p class="schedule__section-text">Każdy uczen, nauczyciel i pracownik szkoły może spróbować swoich sił w
                konkursie</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>11.15</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Teleturniej</h1>
            <p class="schedule__section-text">Weź udział w teleturnieju wiedzy o szkole i zdobądź wspaniałe słodkie
                nagrody! Teleturniej odbędzie się na Scenie Głównej i potrwa około 30 minut.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>12.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Koncert nr. 2</h1>
            <p class="schedule__section-text">Drugi z występów przygotowanych przez sekcję artystyczną odbędzie się
                bezpośrednio po teleturnieju.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>12.15</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Głosowanie - Konkurs cosplay</h1>
            <p class="schedule__section-text">Kończymy zapisy na konkurs i rozpoczynamy głosowanie, które odbędzie się
                przez Formsy. Link będzie znajdować się na Wiśniowej Grupie Ogólnej. Niech zwycięży najbardziej
                kreatywny kostium.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>12.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Koncert nr. 3</h1>
            <p class="schedule__section-text">Trzeci z występów przygotowanych przez sekcję artystyczną.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>13.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Finały wszystkich konkursów</h1>
            <h2 class="schedule__section-subheader">Ogłoszenie wyników</h2>
            <p class="schedule__section-text">Ogłoszenie wyników i rozdanie nagród na Scenie Głównej.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>13.15</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Zakończenie</h1>
            <p class="schedule__section-text">Podziękowania dla społeczności szkolnej za udział w WiFi</p>
            <h2 class="schedule__section-subheader">Koncert nr. 4</h2>
            <p class="schedule__section-text">Nagrody rozdane, czas świętować - zapraszamy wszystkich na już ostatni,
                zamykający WiFi koncert.</p>
        </section>
    </section>
    {{!-- <section class="schedule">
        <div class="vertical-line"></div>
        <figure class="schedule__timespan" style="--order: 0">
            <figcaption>9.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 0">
            <h1 class="schedule__section-header">Rozpoczęcie WiFI</h1>
            <p class="schedule__section-text">Na dobry początek zapraszamy na przemówienia otwierające wydarzenie
                Dyrektora Szkoły oraz Przewodniczącą SU.</p>
            <h2 class="schedule__section-subheader">Rozpoczęcie działania atrakcji</h2>
            <p class="schedule__section-text">Po rozpoczęciu zapraszamy wszystkich do odwiedzenia atrakcji
                przygotowanych przez uczniów m. in. Strefy Minecraft, Stoiska rakietowego w sali 207, Strefy Konsol
                znajdującej się w sali 416 oraz wiele wiele więcej. Pełna rozpiska atrakcji wraz z przypisanymi do nich
                salami będzie znajdować się … </p>
        </section>
        <figure class="schedule__timespan" style="--order: 1">
            <figcaption>9.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 1">
            <h1 class="schedule__section-header">Koncert</h1>
            <p class="schedule__section-text">Serdecznie zapraszamy wszystkich na pierwszy z 4 koncertów Sekcji
                Artystycznej.</p>
            <h2 class="schedule__section-subheader">Cosplay</h2>
            <p class="schedule__section-text">Ruszają zapisy na konkurs cosplay</p>
            <h2 class="schedule__section-subheader">Wiśniowa Wystawa Wspaniałości</h2>
            <p class="schedule__section-text">Oficjalnie otwieramy głosowanie na grafiki, zdjęcia i rysunki, w tematyce
                PRL, wykonane przez uczniów.</p>
            <h2 class="schedule__section-subheader">Szachy</h2>
            <p class="schedule__section-text">Wszystkich fanów szachów, zarówno początkujących, jak i zaawansowanych
                zapraszamy na rozgrywki szachowe.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 3">
            <figcaption>10.45</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 3">
            <h1 class="schedule__section-header">Teleturniej</h1>
            <p class="schedule__section-text">Weź udział w wiśniowym teleturnieju wiedzy o szkole i zdobądź wspaniałe
                nagrody.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>11.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v2</h1>
            <p class="schedule__section-text">Bezpośrednio po teleturnieju odbędzie się kolejny koncert.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>12.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Cosplay - głosowanie</h1>
            <p class="schedule__section-text">Kończymy zapisy na konkurs i rozpoczynamy głosowanie. Niech zwycięży
                najbardziej kreatywny kostium. Powodzenia :)</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>13.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v3</h1>
            <p class="schedule__section-text">Mamy dobrą wiadomość dla spragnionych dobrej muzyki - zapraszamy na trzeci
                koncert.</p>
            <h2 class="schedule__section-subheader">Ostatnia szansa aby zagłosować</h2>
            <p class="schedule__section-text">Dziękujemy za udział w konkursie i za oddawanie głosów.</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>13.30</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Rozdanie nagród</h1>
            <p class="schedule__section-text">Rozstrzygnięcie konkursu cosplay i rozdanie nagród.</p>
            <p class="schedule__section-text">W tym samym czasie kończą się też rozgrywki szachowe - wszystkim
                szachistom serdecznie dziękujemy za udział:)</p>
        </section>
        <figure class="schedule__timespan" style="--order: 4">
            <figcaption>14.00</figcaption>
        </figure>
        <section class="schedule__section" style="--order: 4">
            <h1 class="schedule__section-header">Koncert v4</h1>
            <p class="schedule__section-text">Nagrody rozdane, czas świętować - zapraszamy wszystkich na już ostatni,
                zamykający WiFi koncert.</p>
        </section>
    </section> --}}
    {{!-- <img src="../../../img/icons/wip_cherry.svg" alt="Strona w budowie" style="max-width: 90%;">
    <h2 class="section_topic alt-mobile-anim" style="margin-top: -10px;">hard working for samorząd</h2> --}}
    {{!-- <h3 class="soon">...ale już niedługo będzie gotowa</h3> --}}

</div>
{{> footer }}
{{/main}}