{{#> main }}
{{> menu active_wifi=true}}
<div class="title_box">
    <h1 class="title_box_text">
        Wiśniowy Festiwal Inicjatyw
    </h1>
</div>
{{> wifi_header}}
<div class="section_topic alt-mobile-anim" id="countdown">Czas do wydarzenia: NaN</div>
<div class="pageblock-full">
    <div class="minicard" id="wifi_description">
        <img class="minicard-icon lazyload" id="wifi-logo" alt="WiFI 2021" data-src="../../../img/logos/logo_wifi_2021_cropped.png" />
        <h3 class="minicard-title" id="wifi_description_title">Wiśniowy Festiwal Inicjatyw</h3>
        <h3 class="minicard-text">Wiśniowy Festiwal Inicjatyw to festiwal szkolny integrujący całą społeczność szkolną -
            uczniów, nauczycieli, dyrekcję oraz pracowników szkoły. Chcemy, aby przestrzeń szkolna kojarzyła się nie
            tylko z nauką, ale również z bezpiecznym miejscem, które daje możliwość rozwoju i pozyskiwania nowych
            doświadczeń. Chcemy połączyć zdobywanie wiedzy z zabawą i stworzyć możliwość na integrację, zacieśnianie
            relacji z równieśnikami oraz przestrzeń na poznawanie nowych pasji i zainteresowań.
        </h3>
        {{!--
        <div class="buttonsgroup">
            <a class="button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <div class="img_container">
                    <img data-src="../../../img/logos/konferencja.svg" alt="Film promocyjny WiFI" class="lazyload">
                </div>
                <h3 class="button-text">Zobacz film promocyjny</h3>
            </a>            
        </div>
        --}}
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="gradient-button">Zobacz film promocyjny</a>
    </div>
</div>
<div class="section_topic">O WiFI</div>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <h3 class="minicard-title">Problem społeczny</h3>
            <h3 class="minicard-text">Zdajemy sobie sprawę, jak nieodwracalne skutki społeczne mogła spowodować
                pandemia. Chcemy spróbować zostawić za sobą miesiące izolacji, brak możliwości spotykania się i
                socjalizowania z rówieśnikami i umożliwić obecnym oraz nowym uczniom szkoły jak najłatwiejszą adaptację
                w, mogłoby wydawać się takiej samej, a jednak całkiem innej i nowej rzeczywistości. Pragniemy, aby
                wrześniowy powrót do szkoły po takiej przerwie był przeprowadzony w dobrej i sprzyjającej uczniom
                atmosferze oraz niósł za sobą pozytywne odczucia, a nie strach i stres.
            </h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Cel</h3>
            <h3 class="minicard-text">Chcemy zintegrować całą społeczność szkolną, w tym również dyrekcję, nauczycieli i
                pracowników szkoły, a także pomóc zaklimatyzować się nowym uczniom. Przestrzeń szkolna powinna być
                miejscem, gdzie można rozwijać się i zdobywać nowe doświadczenia, ale także poznawać nowe osoby tworząc
                niezapomniane wspomnienia</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Efekt jaki chcemy osiągnąć</h3>
            <h3 class="minicard-text">Velit molestiae earum, corrupti amet, officiis saepe placeat autem cumque
                cupiditate ratione rerum eveniet aperiam natus laborum magnam, doloremque ad quod sed repudiandae
                aspernatur! Iste pariatur voluptates laudantium distinctio sed?</h3>
        </div>
    </div>
</div>
<div class="section_topic">Sponsorzy</div>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <h3 class="minicard-title">Sponsor 1</h3>
            <h3 class="minicard-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum fuga in
                voluptatum error, aspernatur nostrum architecto sunt. Harum, voluptatum modi tenetur corrupti ea
                deleniti quasi? Est minima id possimus.</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Sponsor 2</h3>
            <h3 class="minicard-text">Quaerat nesciunt veniam eligendi doloribus similique, fugit distinctio dolor omnis
                iure quae voluptates et explicabo consequatur neque suscipit, aperiam quisquam obcaecati repellat nihil!
                Ea pariatur laudantium libero illo sit quos?</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Sponsor 3</h3>
            <h3 class="minicard-text">Velit molestiae earum, corrupti amet, officiis saepe placeat autem cumque
                cupiditate ratione rerum eveniet aperiam natus laborum magnam, doloremque ad quod sed repudiandae
                aspernatur! Iste pariatur voluptates laudantium distinctio sed?</h3>
        </div>
    </div>
</div>
<div class="section_topic">Partnerzy</div>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <h3 class="minicard-title">Partner 1</h3>
            <h3 class="minicard-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum fuga in
                voluptatum error, aspernatur nostrum architecto sunt. Harum, voluptatum modi tenetur corrupti ea
                deleniti quasi? Est minima id possimus.</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Partner 2</h3>
            <h3 class="minicard-text">Quaerat nesciunt veniam eligendi doloribus similique, fugit distinctio dolor omnis
                iure quae voluptates et explicabo consequatur neque suscipit, aperiam quisquam obcaecati repellat nihil!
                Ea pariatur laudantium libero illo sit quos?</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Partner 3</h3>
            <h3 class="minicard-text">Velit molestiae earum, corrupti amet, officiis saepe placeat autem cumque
                cupiditate ratione rerum eveniet aperiam natus laborum magnam, doloremque ad quod sed repudiandae
                aspernatur! Iste pariatur voluptates laudantium distinctio sed?</h3>
        </div>
    </div>
</div>
{{> footer }}
{{/main}}