{{#> main }}
{{> menu active_wifi=true}}
<div class="title_box">
    <h1 class="title_box_text">
        Wiśniowy Festiwal Inicjatyw
    </h1>
</div>
<div class="section_topic" id="countdown">Czas do wydarzenia: NaN</div>
<div class="pageblock-full">
    <div class="minicard" id="wifi_description">
        <img class="minicard-icon lazyload" alt="Innowacja" data-src="../../../img/icons/icons8-innovation-100.png" />
        <h3 class="minicard-title" id="wifi_description_title">Wiśniowy Festiwal Inicjatyw</h3>
        <h3 class="minicard-text">Wiśniowy Festiwal Inicjatyw to festiwal szkolny integrujący całą społeczność szkolną -
            uczniów, nauczycieli, dyrekcję oraz pracowników szkoły. Chcemy stworzyć możliwość na integrację,
            zacieśnianie relacji z rówieśnikami i całą społecznością szkolną
        </h3>
        <div class="buttonsgroup">
            <a class="button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <div class="img_container">
                    <img data-src="../../../img/logos/konferencja.svg" alt="Film promocyjny WiFI" class="lazyload">
                </div>
                <h3 class="button-text">Zobacz film promocyjny</h3>
            </a>
        </div>
    </div>
</div>
<div class="spacer_container">
    <div class="spacer" id="top_spacer"></div>
</div>
<div class="section_topic">O WiFI</div>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <h3 class="minicard-title">Problem społeczny</h3>
            <h3 class="minicard-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum fuga in
                voluptatum error, aspernatur nostrum architecto sunt. Harum, voluptatum modi tenetur corrupti ea
                deleniti quasi? Est minima id possimus.</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Cel</h3>
            <h3 class="minicard-text">Quaerat nesciunt veniam eligendi doloribus similique, fugit distinctio dolor omnis
                iure quae voluptates et explicabo consequatur neque suscipit, aperiam quisquam obcaecati repellat nihil!
                Ea pariatur laudantium libero illo sit quos?</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Efekt jaki chcemy osiągnąć</h3>
            <h3 class="minicard-text">Velit molestiae earum, corrupti amet, officiis saepe placeat autem cumque
                cupiditate ratione rerum eveniet aperiam natus laborum magnam, doloremque ad quod sed repudiandae
                aspernatur! Iste pariatur voluptates laudantium distinctio sed?</h3>
        </div>
    </div>
</div>
<div class="spacer_container">
    <div class="spacer"></div>
</div>
<div class="section_topic">Nasi sponsorzy</div>
<div class="pageblock-full">
    <div class="cardgroup">
        <div class="minicard">
            <h3 class="minicard-title">Sponsor 1</h3>
            <h3 class="minicard-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum fuga in
                voluptatum error, aspernatur nostrum architecto sunt. Harum, voluptatum modi tenetur corrupti ea
                deleniti quasi? Est minima id possimus.</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Sponsor 2</h3>
            <h3 class="minicard-text">Quaerat nesciunt veniam eligendi doloribus similique, fugit distinctio dolor omnis
                iure quae voluptates et explicabo consequatur neque suscipit, aperiam quisquam obcaecati repellat nihil!
                Ea pariatur laudantium libero illo sit quos?</h3>
        </div>
        <div class="minicard">
            <h3 class="minicard-title">Sponsor 3</h3>
            <h3 class="minicard-text">Velit molestiae earum, corrupti amet, officiis saepe placeat autem cumque
                cupiditate ratione rerum eveniet aperiam natus laborum magnam, doloremque ad quod sed repudiandae
                aspernatur! Iste pariatur voluptates laudantium distinctio sed?</h3>
        </div>
    </div>
</div>
{{> footer }}
{{/main}}